{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div class="home-nav">
            {% if auth.online %}
            <div>
                <button type="button" data-tab="market_activity">
                    <img src="/i/game/hammer.png"> Market Activity
                </button>
            </div>
            <h3><img src="/i/svg/bells-light.svg"> Alerts</h3>
            <div>
                {% for itemId, alerts in auth.user.alertsPerItem %}
                    {% if itemId %}
                        {% set item = game().item(itemId) %}
                        <button type="button" data-tab="alerts_{{ itemId }}" class="rarity-{{ item.Rarity }}">
                            {{ item.Name }}
                        </button>
                    {% endif %}
                {% else %}
                    <button type="button" class="btn-disabled">
                        <span class="text-gray">You have no alerts setup.</span>
                    </button>
                {% endfor %}
            </div>
            <h3><img src="/i/svg/th-list-light.svg"> Lists</h3>
            <div>
                {% for list in auth.user.lists %}
                    <button type="button" data-tab="lists_{{ list.id }}">
                        {{ list.name }}
                    </button>
                {% else %}
                    <button type="button" class="btn-disabled">
                        <span class="text-gray">You have no lists.</span>
                    </button>
                {% endfor %}
            </div>
            <h3><img src="/i/svg/person-dolly-light.svg"> Retainers</h3>
            <div>
                {% for retainer in auth.user.retainers %}
                    <a href="{{ path('retainer_shop', { retainer: retainer.id }) }}">
                        {{ retainer.name }}
                    </a>
                {% else %}
                    <button type="button" class="btn-disabled">
                        <span class="text-gray">You have no retainers.</span>
                    </button>
                {% endfor %}
            </div>

            {% else %}
                <section class="tac">
                    <strong>Logged-out</strong>
                    <p class="text-gray">
                        Lists, Alerts, Market activity and retainer links will show here
                        when you are logged into the site.
                    </p>
                </section>
            {% endif %}
        </div>
        <div>
            {% if maintenance().isCompanionMaintenance %}
                <div class="home-box2 flex">
                    <div class="flex_5">
                        <img src="/i/game/offline.png">
                    </div>
                    <div class="flex_95">
                        <strong class="text-red">Auto-Update of Prices/History temporarily paused due to Server congestion.</strong>
                        {# <strong class="text-red">Companion is down for maintenance</strong><br>
                        Auto-Updating + Manual Updating has been paused. Prices / History will not update
                        while Companion is down for maintenance. Retainers cannot be verified during maintenance
                        and item alerts have been paused to avoid spam. #}
                    </div>
                </div>
            {% endif %}

            {% include 'Home/news.html.twig' %}

            {% if auth.online %}
                {# Alerts #}
                {% for itemId, alerts in auth.user.alertsPerItem %}
                    <div class="home-tab" id="alerts_{{ itemId }}">
                        {% include 'Home/alert.html.twig' %}
                    </div>
                {% endfor %}

                {# Lists #}
                {% for list in auth.user.lists %}
                    <div class="home-tab" id="lists_{{ list.id }}">
                        {% include 'Home/list.html.twig' %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="home-logged-out">
                    <div>
                        <img src="/i/brand/universalis/universalis_bodge.png" height="42">
                    </div>
                    <br>
                    <strong>Become a member!</strong>
                    <br>
                    <p>Create alerts, make lists, add your retainers and get a personalised home page feed!</p>
                    <br><br>
                    <a href="{{ path('account_login_discord') }}" class="btn-login">Login via <strong>Discord</strong></a>
                </div>
            {% endif %}
        </div>
        <div>
            <div class="home-box patreon-discord">
                <a href="https://discord.gg/3NMcUV5" class="discord" target="_blank">
                    <span><img src="/i/brand/discord/logo_white.png"> DISCORD</span>
                </a>
                <a href="{{ path('contribute') }}" class="patreon">
                    <span><img src="/i/brand/contribute/logo_name.png"></span>
                </a>
            </div>
{# NOT RIGHT NOW
            <h4>Trending Today</h4>
            <div class="home-box home-trending">
                {% for itemId in popular_items %}
                    {% set item = game().item(itemId) %}
                    {% if item.ID is defined %}
                        <div>
                            <div>
                                <a href="{{ path('item_page', { itemId: itemId }) }}">
                                    <img src="{{ item.ID|icon2x }}">
                                </a>
                            </div>
                            <div>
                                <div>
                                    {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                    <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                                </div>
                                <small>{{ item.ItemSearchCategory.Name ?? '(Cannot be sold)' }}</small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
#}
            <h4>Recent Updates</h4>
            <div class="home-box home-trending">
                {% for itemId in recent %}
                    {% set item = game().item(itemId) %}
                    {% if item.ID is defined %}
                        <div>
                            <div>
                                <a href="{{ path('item_page', { itemId: itemId }) }}">
                                    <img src="{{ item.ID|icon2x }}">
                                </a>
                            </div>
                            <div>
                                <div>
                                    {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                    <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                                </div>
                                <small>{{ item.ItemSearchCategory.Name ?? '(Cannot be sold)' }}</small>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            {# AVERAGE PRICES AND HISTORY #}
<div>
    <div>
        <div class="flex updates_box">
            <div>
                <h5>Uploads today</h5>
                <br>
                <div class="flex avg_prices">
                    <div class="flex_50">
                        {{ uploads_today|number_format }}
                    </div>
                </div>
            </div>
            <div>
                <h5>Uploads this week</h5>
                <br>
                <div class="flex avg_prices">
                    <div class="flex_50">
                        {{ uploads_week|number_format }}
                    </div>
                </div>
            </div>
        </div>
        <p class="mog-honorable" style="text-align: center; margin-top: 5px;">Thank you!</p>
    </div>
        </div>
    </div>
{% endblock %}