{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-retainer">
        <h1>{{ retainer.name }}</h1>
        <small>
            {% if retainer.confirmed %}
                {{ retainer.server }}
                {# Status #}

                {% if retainer.confirmed %}<span class="ret_verified"><i class="xiv-ChatReadOk"></i> Verified</span>{% endif %}
                {% if retainer.apiRetainerId %}<span class="ret_verified"><i class="xiv-ChatReadOk"></i> XIVAPI Linked</span>{% endif %}
            {% else %}
                Retainer not linked to any account.
            {% endif %}
        </small>

        <div class="page-retainer-store">
            {% for listing in items %}
                {% set item = game().item(listing.Item.ID) %}
                <div class="flex retainer-item">
                    <div class="flex_5">
                        <img src="{{ item.ID|icon2x }}" class="retainer-item-icon">
                    </div>
                    <div class="flex_95 flex retainer-item-details">
                        <h3 class="rarity-{{ item.Rarity }}">
                            {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                            {{ item.Name }}
                        </h3>
                        <span class="retainer-item-info">
                                {{ item.ItemKind.Name }} - {{ item.ItemSearchCategory.Name }}
                            </span>
                    </div>
                </div>

                {% include 'Product/prices.html.twig' with {
                    'prices': listing.Prices,
                } %}

                <br><br><br>

            {% endfor %}
        </div>
    </div>
{% endblock %}
