{% extends 'base.html.twig' %}

{% block body %}
    <div class="pl">
        <small>RETAINER</small>
        <h1>
            {{ retainer.name }}
            <span>{{ retainer.server }}</span>
        </h1>

        {% if store and market_stats %}
            {% for listing in store %}
                {% set item = game().item(listing.Item.ID) %}
                {% set stats = market_stats[listing.Item.ID] %}

                <div class="pl_i">
                    <div>
                        <img src="{{ item.ID|icon2x }}">
                    </div>
                    <div>
                        <h2>
                            {# item info #}
                            {% include 'Common/basic_item_header.html.twig' with { item: item } %}
                        </h2>

                        {# Player sales #}
                        <div class="pl_you">
                            <h3>Your current prices</h3>
                            {% include 'Product/prices.html.twig' with {
                                'prices': listing.Prices,
                            } %}
                        </div>

                        {# Current market info #}
                        <div class="flex">
                            {# top 5 cheapest #}
                            <div class="flex_50 pl_mt_p">
                                <div class="pl-mt">
                                    <h3>Top 5 cheapest - Total for sale: {{ stats.TotalForSale }}</h3>
                                    <div>
                                        {% include 'Product/prices.html.twig' with {
                                            'prices': stats.Top5CheapestServers,
                                            'crossWorld': 1,
                                        } %}
                                    </div>
                                </div>
                            </div>
                            {# top 5 sale sales#}
                            <div class="flex_50 pl_mt_h">
                                <div class="pl-mt">
                                    <h3>Last 5 sales</h3>
                                    <div>
                                        {% include 'Product/history.html.twig' with {
                                            'history': stats.Top5HistorySales,
                                            'crossWorld': 1,
                                        } %}
                                    </div>
                                    <small>
                                        <span data-tippy-content="As prices on different servers update at different times, this update time is a rough average of when these prices were update.">
                                            Updated roughly: {{ stats.RoughUpdateTime|date }}
                                        </span>
                                    </small>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No Items found</h2>
            <div class="alert-light">
                Your retainer does not seem to be selling anything at this time!
            </div>

            <br><br>

            <div class="alert-light">
                <p>Expecting stuff? One of these could be why:</p>
                <ol>
                    <li>The items you are selling have not been recently updated.</li>
                    <li>Companion is down for maintenance (Check lodestone)</li>
                    <li>XIVAPI may not have sync'd your retainer just yet.</li>
                </ol>
            </div>
        {% endif %}
    </div>
{% endblock %}
