{% extends 'base.html.twig' %}

{% block body %}
    <div class="page-retainer">
        <h1>{{ retainer.name }}</h1>
        <small>{{ retainer.server }}</small>

        <div class="page-retainer-store">
            {% if store.items %}
                {% for listing in store.items %}
                    {% set item = game().item(listing.Item.ID) %}
                    <div class="table-blank">
                        <table>
                            <tr>
                                <td width="2%" rowspan="2" class="retainer-item-icon">
                                    <img src="{{ item.ID|icon2x }}" >
                                </td>
                                <td width="60%" class="retainer-item-details">
                                    <a href="{{ path('item_page', { itemId: item.ID }) }}" class="rarity-{{ item.Rarity }}">
                                        {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                        {{ item.Name }}
                                    </a>
                                    <span class="retainer-item-info">
                                    {{ item.ItemKind.Name }} - {{ item.ItemSearchCategory.Name }}
                                </span>
                                    <span class="retainer-item-updated">
                                    Updated {{ listing.Updated|date }}
                                </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    {% include 'Product/prices.html.twig' with {
                                    'prices': listing.Prices,
                                    } %}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <br><br><br>
                {% endfor %}
            {% else %}
                <div class="alert-red">
                    Retainer is not selling items or the retainer has not yet sync'd onto XIVAPI.
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
