{% extends 'base.html.twig' %}
{% set title = 'Contribute' %}

{% block body %}

<div class="page">
    <div class="mogboard-header">
        <img src="/i/brand/universalis/universalis_bodge.png">
    </div>

    <div class="page-block">

        <br><br>

        <div class="page-short">
            <h3>What is <strong>Universalis</strong>?</h3>
            <p>
                The site allows you to view in-game market for multiple servers at
                anytime, anywhere. It uses crowd-sourced data from multiple sources to provide
                the most up-to-date prices possible.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>What information can I get?</h3>
            <p>
                All market information is available: Prices, Materia, Retainer, Crafters and even Buyers.
                Everything that you see in-game is available. Additional data-views have been added
                such as graphs, extended history and cross-world summary is also included.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>Can I have access to the data?</h3>
            <p>
                <strong>Definitely!</strong>
                <br><br>
                Everything you see on Universalis is open for anyone to use, to learn more
                about how to access the data using a REST API Service, check out the
                <a href="https://universalis.app/docs">Universalis</a> documentation.
            </p>
        </div>

        <br><br>

        <div class="page-short">
            <h3>Special thanks</h3>
            <p>
                We would like to thank Vekien and Miu from <a href="https://xivapi.com">XIVAPI</a> for their initial work on mogboard,
                which made this site, in its current state, possible.
            </p>
        </div>

        <br><br>
{#
        <div class="page-short">
            <h3>Supporting <strong>mogboard.com</strong></h3>
            <p>
                If you would like to support mogboard as well as XIVAPI you can do
                so via the Patreon: <a href="https://www.patreon.com/vekien">patreon.com/vekien</a>
            </p>
            <p>
                Money can be tight, just by using the site and sharing it with your friends
                will indirectly support the site in more ways than you know. If you like the
                site, be sure to spread the word :)
            </p>
        </div>
#}

        <br><br>

    </div>

    <div class="page-banner">
        <img src="/i/bg/about.png">
    </div>

    <div class="page-block">

        <br><br>

        <div class="page-short">
            <h3 id="technical">So, how does it actually work? Get Technical.</h3>

            <p>
                The Companion App that we all love
                (you can <a href="https://na.finalfantasyxiv.com/companion/">download that here</a>)
                connects to an API that Square-Enix call "Sight".
            </p>
            <p>
                <strong>"Sight"</strong> allows logged in accounts to connect to the market board
                and pull prices and history, this is how the Companion App functions.
            </p>
            <p>
                For <strong>mogboard</strong>, there are 66 characters spread across two accounts
                that are logged into daily (via code, not a human) and these provide the necessary access to the API.
                A logged in character is provided a "Authorisation Token" that lasts 24 hours, using this token
                we can obtain the prices and history for all the items relatively easy and most importantly:
                automated.
            </p>
            <p>
                One downside to "Sight" is it's quite slow, so XIVAPI has a Companion Update Service that
                priorities items in to several different queues and begins to auto-update
                items behind the scene. <strong>mogboard</strong> is a cached view of the auto-update data.
            </p>
            <p>
                Items are prioritised based on how often they sell, items that sell quicker are pushed
                to a "faster" queue (aka, one with less items and thus cycles through all items quicker)
                and the further the average sale time becomes, the slower the update cycle. This of this
                as cars along a free-way, you have 7 Lanes and you need to prioritise who goes where. You could
                evenly distribute all cars along 7 lanes, however some may need higher priority, gotta get somewhere
                quick, so you say "fast cars go to Lane 1, slower cars to Lane 7". This is effectively how the
                auto-update system works. The max update-time is around 2 days.
            </p>
            <p>
                Item's "Sale Frequency" (how often it sells on average) is checked every 12 hours, this allows
                the system to re-organise items, if some item becomes popular due to an event or update then
                as people buy it the site will update it faster, than as people stop buying the item the update
                time will slow down, this allows a dynamic shift of keeping fast selling items updated more frequently.
            </p>

{#
            <div class="table-dark">
                <table>
                    <thead>
                        <tr>
                            <th>Queue Name</th>
                            <th>Queue Number</th>
                            <th>Items</th>
                            <th>Cycle Time</th>
                            <th>Cycle Time Real</th>
                            <th>Diff</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for report in market_stats.Report %}
                        <tr>
                            <td>{{ report.Name }}</td>
                            <td>{{ report.Priority }}</td>
                            <td>{{ report.Items }}</td>
                            <td>{{ report.CycleTime }}</td>
                            <td>{{ report.CycleTimeReal }}</td>
                            <td class="{{ report.CycleDiffSec|replace({ ',': '' }) < 300 ? 'text-green' : 'text-red' }}">{{ report.CycleDiff }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            #}

            <br><br>
        </div>
    </div>

    <div class="page-block">
        <br><br>

        <div class="page-short">
            <h3>I have more questions!</h3>
            <p>
                Hop onto <a href="https://discord.gg/3NMcUV5">our discord</a> and you can
                ask all your questions.
            </p>
            <p>
                You can also pm me: <span class="text-yellow">meeboo</span> if you prefer :)
            </p>
        </div>

        <br><br>
    </div>

</div>

{% endblock %}
