{% extends 'base.html.twig' %}

{% block body %}
    <div class="home">
        <div>
            {# News #}
            <div class="home-box2">
                <div class="home-row flex">
                    <div class="flex_5 tac">
                        <img src="/i/game/coin2.png">
                    </div>
                    <div class="flex_95">
                        <strong>Welcome to Mogboard.com - A FINAL FANTASY XIV: Online Market Board Site.</strong><br>
                        <a href="{{ path('about') }}">Click here to learn all about it!</a>
                    </div>
                </div>
            </div>

            <div class="home-box2" style="border: solid 2px #821b1a">
                <div class="home-row flex">
                    <div class="flex_5 tac">
                        <img src="/i/game/status.png">
                    </div>
                    <div class="flex_95">
                        <strong>Japan Servers are OFFLINE</strong><br>
                        Due to Square-Enix's tolerance to prevent scraping the market board, they have banned
                        the JP Accounts that Mogboard uses. Until further notice JP Servers will not update
                        on the website.
                    </div>
                </div>
            </div>



            {% if auth.online() %}
                {# Retainers #}
                <div class="home-box2">
                    <h2>Retainers</h2>
                    {% for retainer in auth.user.retainers %}
                        <div class="home-retainer">
                            <div>
                                {{ retainer.name }}
                            </div>
                            <div>
                                <a href="{{ path('retainer_store', { slug: retainer.slug }) }}">View Store</a>
                            </div>
                        </div>
                    {% else %}
                        <div class="home-retainer-none">
                            You have no retainers, <a href="{{ path('user_account_retainers') }}">add them to your account</a>.
                        </div>
                    {% endfor %}
                </div>

                {# Alerts #}
                <div class="home-box2">
                    <h2>Alerts</h2>
                    {% for itemId, alerts in auth.user.alertsPerItem %}
                        {% set item = game().item(itemId) %}
                        <div class="home-alert-row">
                            <div>
                                <a href="{{ path('item_page', { itemId: itemId }) }}">
                                    <img src="{{ item.ID|icon2x }}" class="item_icon">
                                </a>
                            </div>
                            <div>
                                <div class="home-alert-item-info">
                                    <div>
                                        {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                        <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                                    </div>
                                    <div>
                                        <strong>ALERT WATCHERS</strong>
                                        {% for alert in alerts %}
                                            <div class="home-alert-watcher">
                                                {{ loop.index }}. {{ alert.Name }}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {# Lists #}
                <div class="home-box2">
                    <h2>Item Lists</h2>
                    {% for list in auth.user.lists %}
                        <div class="home-itemlist">
                            <h3>Items: {{ list.items|length }} - <a href="{{ path('lists_view', { slug: list.slug }) }}">{{ list.name }}</a></h3>
                            <ul>
                                {% for itemId in list.items %}
                                    {% set item = game().item(itemId) %}
                                    <li>
                                        <img src="{{ item.ID|icon2x }}">
                                        {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                        <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                                        <small>
                                            {{ item.ItemKind.Name }} -
                                            {{ item.ItemSearchCategory.Name }}
                                        </small>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% else %}
                        <div class="home-itemlist">
                            You have no lists, visit some items and create some!
                        </div>
                    {% endfor %}
                </div>

                {# todo #}
                <div class="home-box2">
                    <h2>Todo:</h2>
                    <br><br>
                    <ul>
                        <li>Add Retainer features (show items up, show if any sold recently, etc)</li>
                        <li>Add Friends Features (show items purchased, etc)</li>
                        <li>Recent sale figures for items on alerts, recently viewed or lists</li>
                        <li>Some graph porn</li>
                        <li>Not-thought-of-just-yet features.</li>
                    </ul>
                </div>
            {% else %}
                <div class="home-box2">
                    <div class="home-row home-logged-out">
                        <strong>Become a member!</strong>
                        <br><br>
                        Create alerts, make lists, add your retainers and get a personalised home page feed!
                        <br><br>
                        <a href="{{ path('user_login_discord') }}" class="btn-login">Login via <strong>Discord</strong></strong></a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div>
            <div class="home-box patreon-discord">
                <a href="https://discord.gg/MFFVHWC" class="discord" target="_blank">
                    <span><img src="/i/brand/discord/logo_white.png"> DISCORD</span>
                </a>
                <a href="https://www.patreon.com/vekien" class="patreon" target="_blank">
                    <span><img src="/i/brand/patreon/logo_name.jpg"></span>
                </a>
            </div>

            <h4>Trending Today</h4>
            <div class="home-box home-trending">
                {% for itemId in popular_items %}
                    {% set item = game().item(itemId) %}
                    <div>
                        <div>
                            <a href="{{ path('item_page', { itemId: itemId }) }}">
                                <img src="{{ item.ID|icon2x }}">
                            </a>
                        </div>
                        <div>
                            <div>
                                {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                                <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                            </div>
                            <small>{{ item.ItemSearchCategory.Name }}</small>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <h4>Mog Market Status</h4>
            <div class="home-box home-mog-status">
                <div class="home-row tac">
                    <div class="home-mog-queue">
                        Market Items &nbsp; <strong>{{ market_stats.Stats.DatabaseSqlReport.total_entries }}</strong>
                    </div>
                </div>
                <div class="home-row">
                    {% for queue in [1,2,3,4,5,6,7] %}
                        {% set report = attribute(market_stats.Stats.Report, queue) %}
                        <div class="home-mog-queue" data-tippy-content="{{ report.CycleDiffSec < 300 ? 'Items in this queue are updating <br> as fast as expected.' : 'Items in this queue are updating <br> slower than expected' }}">
                            <div class="flex">
                                <div class="flex_40">
                                    <small>({{ report.Priority }}) {{ report.Name }}</small>
                                    {{ report.Items }} items
                                </div>
                                <div class="flex_35">
                                    <small>Speed</small>
                                    {{ report.CycleTimeReal }}
                                </div>
                                <div class="flex_25">
                                    <small>On-Time?</small>
                                    <span class="{{ report.CycleDiffSec|replace({ ',': '' }) < 300 ? 'text-green' : 'text-red' }}">{{ report.CycleDiff }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="home-row tac">
                    <div class="home-mog-queue">
                        Updated &nbsp; <strong>{{ market_stats.Stats.ReportUpdated|dateSimple }}</strong>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
