{% extends 'base.html.twig' %}

{% block body %}

    <div class="home">
        <div>
            <div class="home-outline">
                <p><strong>(PLAYER STUFF)</strong></p>
                <p>Friends</p>
                <p>Tracked Retainers</p>
                <p>Other player statz</p>
                <p>Recent Items</p>
                <hr>
                <p>Popular items</p>
                <ul>
                {#
                {% for popular in popular_items %}
                    <li>{{ gamedata().getItem(popular.item).Name }}</li>
                {% endfor %}
                #}
                </ul>
            </div>
        </div>
        <div>
            <div class="home-outline">
                <p><strong>(TRACKED STUFF)</strong></p>
                <p>Recent "watched item" notification</p>
                <p>Player "sold item" notification</p>
                <p>Tracked items with graph porn and sales figures</p>


                {% if auth.online() %}
                    <br><hr><br>

                    <h4>Alerts</h4>
                    <ul>
                        {% for alert in auth.user.alerts %}
                            <li class="alert-row">
                                <div>
                                    <strong>({{ alert.server }}) {{ alert.name }}</strong>
                                    <a href="{{ path('item_page', { itemId: alert.itemId }) }}">{{ gamedata().getItem(alert.itemId).Name }}</a>
                                    <small>Last Sent: {{ alert.triggerLastSent ? alert.triggerLastSent|date : 'Never' }}
                                    - Total: {{ alert.triggersSent|number_format }}</small>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                    <br><hr><br>

                    <h4>Lists</h4>
                    {% for list in auth.user.lists %}
                        <p>Name: {{ list.name }}</p>
                        <ul>
                            {% for id in list.items %}
                            <li>
                                <a href="{{ path('item_page', { itemId: id }) }}">{{ gamedata().getItem(id).Name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}

                {% endif %}

            </div>
        </div>
        <div>
            <div class="home-box">
                <div class="welcome-banner">
                    <img src="/i/brand/mogboard/mogboard_light.svg" height="32">
                </div>
                <h4>beta</h4>
                <p>
                    Mogboard.com Is still heavily in progress, if you have any feedback please
                    be sure to jump onto the Discord and shout at <strong class="text-blue">@vekien</strong>
                </p>
                <p>
                    Discord: <a href="https://discord.gg/MFFVHWC">discord.gg/MFFVHWC</a>
                </p>
            </div>
            <a class="home-patron"href="https://www.patreon.com/vekien">
                <div>
                    <img src="/i/brand/patreon/logo.jpg" height="46px">
                </div>
                <div>
                    Support <strong>Mogboard and XIVAPI</strong><br>
                    by becoming a <strong>Patron</strong>!
                </div>
            </a>
            <div class="home-outline">
                <p><strong>(MOGBOARD SITE STUFF)</strong></p>
                <p>Mogboard News</p>
                <p>Server Status</p>

            </div>
        </div>
    </div>

{% endblock %}
