{# Site Settings #}
<div class="modal modal_settings">
    <div class="row row_top">
        <label for="servers">Server</label>
        <p>Choose your primary server, this will also set your Data-Center.</p>
        <div class="form">
            <select id="servers" class="servers">
                <option disabled selected>- Please Choose a Server -</option>
                {% for dc, servers in getGameDataCenters() %}
                    <optgroup label="{{ dc }}">
                        {% for server in servers %}
                            <option value="{{ server }}">{{ server }}</option>
                        {% endfor %}
                    </optgroup>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="row row_top">
        <label for="languages">Language</label>
        <p>Set the language for the site and search.</p>
        <div class="form">
            <select id="languages" class="languages">
                <option disabled selected>- Choose your language -</option>
                <option value="en">English</option>
                <option value="fr">Français</option>
                <option value="de">Deutsche</option>
                <option value="ja">日本人</option>
                {# <option value="kr">한국어</option>
                <option value="cn">中文</option> #}
            </select>
        </div>
    </div>
    <div class="row row_top">
        <label for="timezones">Timezone</label>
        <p>Choose your timezone, so times are right!</p>
        <div class="form">
            <select id="timezones" class="timezones">
                <option disabled selected>- Choose your timezone -</option>
                {% for format, name in timezones() %}
                    <option value="{{ format }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {% if auth.online() %}
        <div class="row logout">
            Ready to leave? <a href="{{ path('user_logout') }}">Logout</a>
        </div>
    {% endif %}
</div>
