<script>let alert_trigger_operators = {{ alerts.trigger_operators|json_encode|raw }};</script>
<div>
    <h3>Create a new alert on server: {{ server.name }}</h3>

    {% if auth.online() %}
        <form id="alert_form" class="alert_form" method="post" action="{{ url('alerts_create') }}">
            {# hidden stuff #}
            <input type="hidden" id="alert_item_id" value="{{ item.ID }}">

            {# Name #}
            <div class="form_row">
                <label for="alert_name">Give your alert a name</label>
                <input name="alert_name" id="alert_name" type="text" placeholder="Name" class="full">
            </div>

            {# HQ / NQ / Server or DC #}
            <div class="form_row">
                <div class="form_columns">
                    <div class="form_col2">
                        <label>Decide if the trigger should check NQ/HQ or both.</label>
                        <div class="form_columns">
                            <div class="form_col2">
                                <div class="checkbox">
                                    <input type="checkbox" id="alert_nq">
                                    <label for="alert_nq">Normal Quality</label>
                                </div>
                            </div>
                            <div class="form_col2">
                                <div class="checkbox">
                                    <input type="checkbox" id="alert_hq">
                                    <label for="alert_hq">High-Quality</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_col2">
                        <label>Should the alert check the whole Data-Center?</label>
                        <div class="checkbox">
                            <input type="checkbox" id="alert_dc">
                            <label for="alert_dc">Check entire Data-Center ({{ server.dc }})</label>
                        </div>
                    </div>
                </div>
            </div>

            {# Triggers #}
            <div class="form_row">
                <label>Setup Triggers <strong>(Max: 15)</strong></label>
                <div class="alert_entries"></div>

                <div class="alert_triggers_form form_row form_columns">
                    <div class="form_col4">
                        <select name="alert_trigger_field" id="alert_trigger_field" class="full">
                            <option disabled>- Select a Field -</option>
                            {% for category, triggers in alerts.trigger_fields %}
                                <optgroup label="{{ category }}">
                                    {% for name in triggers %}
                                        <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form_col4">
                        <select name="alert_trigger_op" id="alert_trigger_op" class="full">
                            <option disabled>- Select an Operator</option>
                            {% for id,op in alerts.trigger_operators %}
                                <option value="{{ id }}">{{ op }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form_col4">
                        <input name="alert_trigger_value" id="alert_trigger_value" type="text" placeholder="Condition Value" class="full">
                    </div>
                    <div class="form_col4">
                        <button type="button" class="btn-blue alert_trigger_add">Add</button>
                    </div>
                </div>
                <small>
                    Trigger values are checked as a series of <strong>AND</strong> conditions.
                    For "Bool" conditions values use 1 = true, 0 = false (eg: Price_IsHQ = 1).
                </small>

            </div>

            <br>

            {# Notifications #}
            <div class="form_row">
                <label>How do you want to be notified?</label>

                <div class="form_columns">
                    <div class="form_col2">
                        <div class="checkbox">
                            <input type="checkbox" id="alert_notify_discord">
                            <label for="alert_notify_discord">Discord <em>({{ auth.user.username }})</em></label>
                        </div>
                    </div>
                    <div class="form_col2">
                        <div class="checkbox">
                            <input type="checkbox" id="alert_notify_email">
                            <label for="alert_notify_email">Email <em>({{ auth.user.email }})</em></label>
                        </div>
                    </div>
                </div>
            </div>

            {# submit #}
            <div class="form_footer">
                <button type="submit" class="btn-green btn_create_alert">Create Alert</button>
            </div>

        </form>

        <br><hr><br>

        <h3>Current alerts for: {{ item.Name }}</h3>
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Conditions</th>
                    <th>Sent</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for alert in alerts.users %}

                {% else %}
                    <tr>
                        <td colspan="5">You have no alerts for this item.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    {% else %}
    <div class="tab-login">You must be logged in to create item alerts.</div>
    {% endif %}

    <br><hr><br>

    <h3><i class="icon-help"></i> All about alerts</h3>
    <p>Alerts do things!</p>
</div>
