<script>var alert_trigger_operators = {{ alerts.trigger_operators|json_encode|raw }};</script>
<div class="alert-page">
    <div class="alert_info_button">
        <button>Whats an alert <img src="/i/svg/question-circle-light.svg" height="18"></button>
    </div>

    {% if auth.online() %}
        {% if auth.user.alerts|length >= auth.user.alertsMax %}
            <div class="alert-default">You are currently max'd out on alerts and will not be able to create anymore.</div>
        {% endif %}

        <div class="alert-section">
            <div>
                <h3>Create a new alert</h3>
                <form id="alert_form" class="alert_form" method="post" action="{{ url('alerts_create') }}">
                    <div class="alert-form-loading">
                        <img src="/i/svg/loading3.svg" height="64px">
                    </div>

                    {# Name #}
                    <div class="form_row">
                        <label for="alert_name">Give your alert a name (length: 4-100)</label>
                        <input name="alert_name" id="alert_name" type="text" placeholder="Name" class="full">
                    </div>

                    {# HQ / NQ / Server or DC #}
                    <div class="form_row">
                        <div class="form_columns">
                            <div class="flex_50">
                                <label>Decide if the trigger should check NQ/HQ or both.</label>
                                <div class="form_columns">
                                    <div class="flex_50">
                                        <div class="checkbox">
                                            <input type="checkbox" id="alert_nq">
                                            <label for="alert_nq">Normal Quality</label>
                                        </div>
                                    </div>
                                    <div class="flex_50">
                                        <div class="checkbox">
                                            <input type="checkbox" id="alert_hq">
                                            <label for="alert_hq">High-Quality</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="flex_50">
                                <label>Should the alert check the whole Data-Center?</label>
                                <div class="checkbox">
                                    <input type="checkbox" id="alert_dc">
                                    <label for="alert_dc">Check entire Data-Center ({{ server.dc }})</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# Triggers #}
                    <div class="form_row">
                        <label>Setup Triggers <strong>(Max: 15)</strong></label>
                        <div class="alert_entries"></div>

                        <div class="alert_triggers_form form_row form_columns">
                            <div class="flex_30">
                                <select name="alert_trigger_field" id="alert_trigger_field" class="full">
                                    <option disabled selected>- Select a Field -</option>
                                    {% for category, triggers in alerts.trigger_fields %}
                                        <optgroup label="{{ category }}">
                                            {% for name in triggers %}
                                                <option value="{{ name }}">{{ name }}</option>
                                            {% endfor %}
                                        </optgroup>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="flex_30">
                                <select name="alert_trigger_op" id="alert_trigger_op" class="full">
                                    <option disabled selected>- Select an Operator</option>
                                    {% for id,op in alerts.trigger_operators %}
                                        <option value="{{ id }}">{{ op }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="flex_30">
                                <input name="alert_trigger_value" id="alert_trigger_value" type="text" placeholder="Condition Value" class="full">
                            </div>
                            <div class="flex_10">
                                <button type="button" class="btn-blue alert_trigger_add">Add</button>
                            </div>
                        </div>
                        <div class="alert-dark">
                            <span class="text-red">NOTE:</span> The filter: <code>Price_Added</code> is a timestamp, it is
                            NOT a Gil value. You can convert a date to a timestamp <a href="https://www.epochconverter.com/" target="_blank">here</a>,
                            work is being done to improve this UI.
                        </div>
                        <small>
                            Trigger values are checked as a series of <strong>AND</strong> conditions.
                        </small>

                    </div>

                    <br>

                    {# Notifications #}
                    <div class="form_row">
                        <label>How do you want to be notified?</label>

                        <div class="form_columns">
                            <div class="flex_50">
                                <div class="checkbox">
                                    <input type="checkbox" id="alert_notify_discord">
                                    <label for="alert_notify_discord">Discord <em>({{ auth.user.username }})</em></label>
                                </div>
                            </div>
                            <div class="flex_50">
                                <div class="checkbox">
                                    <input type="checkbox" id="alert_notify_email">
                                    <label for="alert_notify_email">Email <em>({{ auth.user.email }})</em></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    {# DPS tier perk #}
                    {% if auth.user.patron == 4 %}
                        <div class="form_row">
                            <label class="text-green"><strong>DPS Perk:</strong> Private Mogboard Alert Watcher</label>

                            <p style="font-size: 13px;">
                                Should this alert keep your item up to date? If enabled, everytime your alert is checked
                                it will also check if the item is 10 minutes out of date and request an update
                                if it is. Please be mindful that the more alerts you enable this on, the slower
                                the update system will be and that 10 minutes may not be garaunteed.
                                <strong class="text-red">Please only enable this for items you truely want to monitor accurately.</strong>
                            </p>

                            <div class="form_columns">
                                <div class="flex_50">
                                    <div class="checkbox">
                                        <input type="checkbox" id="alert_dps_perk">
                                        <label for="alert_dps_perk">Yes, keep item updated</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                    {# submit #}
                    <div class="form_footer">
                        <button type="submit" class="btn-green btn_create_alert">Save Alert</button>
                        <span class="edit_mode_enabled">You are currently editing an alert</span>

                        <button type="button" class="btn-white-outline btn_new_alert" data-tippy-content="Reset the form and start a new alert">New Alert</button>
                    </div>
                </form>
            </div>
            <div>
                <h3>Current alerts for: {{ item.Name }}</h3>
                <div class="alerts_table">
                    <div class="alert-default">Loading alerts...</div>
                </div>

                <br><br>

                <div class="alert-default" style="opacity: 0.5;">
                    <ul style="margin-bottom: 0">
                        <li><strong>NOTE:</strong> You must be in a server that uses Ser Aymeric bot to receive Discord alerts. <a href="https://discord.gg/MFFVHWC">The XIVAPI/Mogboard</a> discord will work.</li>
                        <li><strong>NOTE:</strong> If the item is not currently being tracked, you will not receive updated price/history alerts.</li>
                    </ul>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert-default">
            You must be logged in to create item alerts.
        </div>
    {% endif %}
</div>

<div class="modal alert_delete_confirmation_modal">
    <button type="button" class="modal_close_button"><i class="xiv-NavigationClose"></i></button>
    <div class="row">
        <h1></h1>
        <p>
            Are you sure you wish to delete this alert?
        </p>
        <br>
        <p>
            <button type="button" class="btn_alert_delete_confirm">Yes I'm sure, delete it.</button>
        </p>
    </div>
</div>

{# Information about alerts #}
<div class="modal alert_info">
    <div class="row row_top">
        <h1>What are alerts?</h1>
        <p>
            Alerts allow you to setup notification watchers that can track an item and send you information such as price changes or history events.
        </p>
        <br><br>

        <h2>Triggers</h2>
        <p>
            <strong>Triggers</strong>, these are conditions you can set on the alert to be checked at interval times
            and if any market entry meets the criteria of the condition then your alert will be "Triggered" and you'll
            receive a notification either via Discord or EMail.
        </p>
        <p>
            Trigger conditions can be set against any market field and future plans will allow you to manage
            these dynamically as well as setup automatic triggers based on your retainers current sales.
        </p>
        <br><br>

        <h4>Trigger Condition Information</h4>
        <ul>
            <li>
                <strong>Prices/History: Added</strong><br>
                This is currently an Epoch Unix Timestamp. Work is being done to improve this.
                <br>
            </li>
            <li>
                <strong>Prices/History: "IsXX"</strong><br>
                The Is condition triggers such as IsHQ are bools and the value must be either 1 or 0 for true / false.
                <br>
            </li>
            <li>
                <strong>History:</strong><br>
                Events for history will be based on entries added to the history after the event was created.
                <br>
            </li>
        </ul>
    </div>
</div>
