<div class="table">
    <table>
        <thead>
        <tr>
            <th width="90%">Name</th>
            <th width="10%">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for alert in alerts %}
            <tr data-name="{{ alert.name }}">
                <td>
                    <h5><strong>{{ alert.name }}</strong> <small>({{ alert.uniq }})</small></h5>
                    <div class="flex">
                        <div class="flex_25">
                            <small>HQ?</small><br>
                            {{ alert.isTriggerHq ? '<img src="/i/game/hq.png" height="12"> HQ' : 'NQ' }}
                        </div>
                        <div class="flex_25">
                            <small>Cross-World?</small><br>
                            {{ alert.isTriggerDataCenter ? '<i class="xiv-CrossWorld"></i> Yes' : 'No' }}
                        </div>
                        <div class="flex_25">
                            <small>Notification</small><br>
                            {{ alert.isNotifiedViaEmail ? '[Email]' : '' }}
                            {{ alert.isNotifiedViaDiscord ? '[Discord]' : '' }}
                        </div>
                        <div class="flex_25">
                            <small>Sent</small><br>
                            ({{ alert.triggersSent|number_format }}) {{ alert.triggerLastSent ? alert.triggerLastSent|date : 'Never' }}
                        </div>
                    </div>
                    {% if alert.keepUpdated %}
                    <div style="padding: 5px 0;">
                        <strong class="text-green">DPS Perk:</strong> Keep item updated
                    </div>
                    {% endif %}
                    <code class="box" style="margin-top: 5px;">
                        {% for trigger in alert.getTriggerConditionsFormatted %}
                            <span>{{ trigger[0] }}</span> <em>{{ trigger[4] }}</em> <strong>{{ trigger[2] is empty ? '0' : trigger[2] }}</strong><br>
                        {% endfor %}
                    </code>
                </td>
                <td>
                    <div class="alert_action_row">
                        <button type="button" class="btn_alert_edit" data-id="{{ alert.id }}">Edit</button>
                    </div>
                    <div>
                        <button type="button" class="btn_alert_delete" data-id="{{ alert.id }}">Delete</button>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">You have no alerts for this item.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
