<div class="highchart" style="width:100%;">
    <div id="{{ chart.id }}"></div>
</div>
<script>
// Create the chart
var chart{{ chart.id }} = Highcharts.stockChart('{{ chart.id }}', {
    credits: {
        enabled: false
    },

    scrollbar: {
        enabled: false
    },

    legend: {
        enabled: true
    },

    chart: {
        animation: false,
    },

    boost: {
        useGPUTranslations: true,
        allowForce: true,
    },

    rangeSelector: {
        selected: 0
    },

    xAxis: [
        {
            range: (60 * 60 * 24 * 30) * 1000
        },
        {
            range: (60 * 60 * 24 * 30) * 1000
        }
    ],

    yAxis: [
        {
            visible: false,
            tooltip: {
                formatter: function () {
                    return Highcharts.numberFormat(this.value.toFixed(0), 0, ',', '.');
                }
            }
        },
        {
            visible: false,
            tooltip: {
                formatter: function () {
                    return Highcharts.numberFormat(this.value.toFixed(0), 0, ',', '.');
                }
            }
        }
    ],

    series: {{ chart.series|json_encode|raw }}
});

window.chart{{ chart.id }}.addSeries({
    xAxis: 1,
    yAxis: 1,
    type: "line",
    enableMouseTracking: false,
    isInternal: true,
    data : {{ chart.series|json_encode|raw }},
    showInLegend:false
});

$('.item_nav button[data-tab="cw{{ chart.server }}"]').on('click', () => {
    window.chart{{ chart.id }}.redraw();
    window.chart{{ chart.id }}.reflow();
});
</script>
