<div class="table">
    <table class="striped">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="2%">HQ</th>
            <th width="15%">Price</th>
            <th width="5%">QTY</th>
            <th width="20%">Total</th>
            <th>Buyer</th>
            <th width="20%">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for price in history %}
            <tr>
                <td class="price-num">{{ loop.index }}</td>
                <td class="price-hq">{{ price.IsHQ ? '<img src="/i/game/hq.png">' : '' }}</td>
                <td class="price-current">{{ price.PricePerUnit|number_format }}</td>
                <td class="price-qty">{{ price.Quantity|number_format }}</td>
                <td class="price-total">{{ price.PriceTotal|number_format }}</td>
                <td class="price-buyer">
                    <a href="#" data-tippy-content="{{ price.CharacterID }}">{{ price.CharacterName }}</a>
                </td>
                <td class="price-date">{{ price.PurchaseDate|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
