<div class="table">
    <table class="striped">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="2%">HQ</th>
            <th width="15%">Price</th>
            <th width="5%">QTY</th>
            <th width="20%">Total</th>
            <th>Buyer</th>
            <th width="20%">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for price in history %}
            <tr>
                <td class="price-num">{{ loop.index }}</td>
                <td class="price-hq">{{ price.is_hq ? '<img src="/i/game/hq.png">' : '' }}</td>
                <td class="price-current">{{ price.price_per_unit|number_format }}</td>
                <td class="price-qty">{{ price.quantity|number_format }}</td>
                <td class="price-total">{{ price.price_total|number_format }}</td>
                <td class="price-buyer">{{ price.character_name }}</td>
                <td class="price-date">{{ price.purchase_date|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
