{% extends 'base.html.twig' %}
{% set title = item.Name %}

{% block body %}
<div class="product">

    <div>
        <span class="icon icon-rarity-{{ item.Rarity }}">
            <img src="/temp/12865.png">
        </span>
        <div class="menu">
            <button type="button" data-tab="prices" class="open"><span class="icon-Market"></span> Prices</button>
            <button type="button" data-tab="history"><span class="icon-MarketLimit"></span> History</button>
            <button type="button" data-tab="details"><span class="icon-ViewDetail"></span> Details</button>

            <h4>Cross-World<strong>{{ server.dc }}</strong></h4>
            <button type="button" data-tab="summary"><span class="icon-CrossWorld"></span> Summary</button>
            {% for serverName in server.dc_servers %}
                {% set icon = serverName == server.name ? 'ItemShard' : 'PaintBorder' %}
                {% set className = serverName == server.name ? 'home-world' : '' %}
                <button type="button" data-tab="cw{{ serverName }}" class="{{ className }}"><span class="icon-{{ icon }} cw-icon"></span> {{ serverName }}</button>
            {% endfor %}
        </div>
    </div>
    <div>
        {# patch #}
        <span class="patch" data-tippy-content="{{ item.GamePatch.Name }}">
            PATCH {{ item.GamePatch.Version }}
        </span>

        {# title #}
        <h1 class="rarity-{{ item.Rarity }}">{{ item.Name }}</h1>

        {# info #}
        <div class="info">
            <button class="product-search-cat" data-tippy-content="Open Market Category: {{ item.ItemSearchCategory.Name }}" data-cat="{{ item.ItemSearchCategory.ID }}">
                <i class="icon-{{ item.ItemSearchCategory.ID|xivicon }}"></i>
            </button>
            <span>{{ item.ItemKind.Name }}</span>
            <span class="product-item-kind">{{ item.ItemUICategory.Name }}</span>
            <span><em>Stack Size:</em>{{ item.StackSize|number_format }}</span>
            <span>
                <em>On Sale</em>{{ attribute(market, server.name).prices|length|number_format }}
                &nbsp;&nbsp;
                <img src="/i/game/hq.png">
                34
            </span>
            <span>
                <em>History</em>{{ attribute(market, server.name).history|length|number_format }}
                &nbsp;&nbsp;
                <img src="/i/game/hq.png">
                22
            </span>
        </div>

        <div class="tab">
            {# Current Prices #}
            <div class="tab-page tab-prices open">
                {% include 'Product/prices.html.twig' with { 'prices': attribute(market, server.name).prices } %}
            </div>

            {# History prices #}
            <div class="tab-page tab-history">
                {% include 'Product/history.html.twig' with { 'history': attribute(market, server.name).history } %}
            </div>

            {# Item Details #}
            <div class="tab-page tab-details">
                {% include 'Product/details.html.twig' %}
            </div>

            {# Cross World #}
            <div class="tab-page tab-summary">
                Cross-World Summary
            </div>
            {% for serverName in server.dc_servers %}
            <div class="tab-page tab-cw{{ serverName }}">
                <h1>{{ serverName }}</h1>
                <div class="cw-prices open">
                    {% include 'Product/prices.html.twig' with { 'prices': attribute(market, serverName).prices } %}
                </div>
                <div class="cw-history">
                    {% include 'Product/history.html.twig' with { 'history': attribute(market, serverName).history } %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="box">
            <div class="box-updated">
                <div>
                    <h6>Updated</h6>
                    <div>
                        {{ 1548720068|date }}
                    </div>
                </div>
                <div class="form">
                    <button type="button" class="btn-green" data-tippy-content="Request updated pricing."><i class="icon-ViewRefresh"></i> Refresh</button>
                </div>
            </div>
        </div>
        <div class="box">
            {% include 'Product/statistics.html.twig' %}
        </div>

        <div class="box-outline">
            {% include 'Product/alerts.html.twig' %}
        </div>
        <div class="box">
            If logged in and character verified, show if
            any friends have purchased this item.
        </div>

        {# Multi-Language display #}
        <div class="box box-language">
            {% include 'Product/language.html.twig' %}
        </div>
        <p>Links to Garland Tools</p>
        <p>Links to Gamer Escape</p>

    </div>

</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
