{% extends 'base.html.twig' %}
{% set title = item.Name %}
{% set reqServer = app.request.get('server')|title %}

{% block body %}
    <script>var appEnableItemPage = 1;</script>
    <script>var itemId = {{ item.ID }};</script>
    <div class="product">
        <div>
            <div class="item_top">
                {# Icon #}
                <div class="item_icon">
                    <img src="{{ item.ID|icon2x }}">
                </div>

                {# Item info #}
                <div class="item_header">

                    <div class="box box_lists">
                        {% include 'Product/lists.html.twig' %}
                    </div>

                    <div class="item_info">
                        {# title #}
                        <h1 class="rarity-{{ item.Rarity }}">
                            <span>{{ item.LevelItem }}</span>
                            {{ item.Name }}
                        </h1>
                        <div class="item_info_small">
                            {% if item.ItemSearchCategory.ID is defined %}
                                <span><i class="xiv-{{ item.ItemSearchCategory.ID|xivicon }}"></i></span>
                                <span>{{ item.ItemKind.Name }}</span>
                                <span>{{ item.ItemUICategory.Name }}</span>
                            {% endif %}
                        </div>
                    </div>

                    <div class="item_nav_mobile_toggle">
                        <button type="button">Menu</button>
                    </div>
                    <div class="item_nav">
                        <div class="item_nav_servers">
                            {% if shops %}
                                {# Item Details #}
                                <button type="button" data-tab="shops" class="btn-shops open">
                                    <i class="xiv-Gil cw-shops"></i> Shops
                                </button>
                            {% elseif item.ItemSearchCategory.ID is not defined %}
                                {# nothing #}
                            {% else %}
                                {# Cross World #}
                                <button type="button" data-tab="summary" class="btn-summary {{ (cookie('mogboard_homeworld', 'no') == 'yes' or reqServer) ? '' : 'open' }}">
                                    <i class="xiv-CrossWorld cw-summary"></i> Cross-World
                                </button>

                                {# Server List #}
                                {% for serverName in server.dc_servers %}
                                    {% set icon          = serverName == server.name ? 'ItemShard cw-home' : '' %}
                                    {% set className     = serverName == server.name ? 'home-world' : '' %}
                                    {% set salesCount    = market[serverName].Prices is defined ? market[serverName].Prices|length|number_format : '-' %}
                                    <button type="button" data-tab="cw{{ serverName }}" class="{{ className }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name or reqServer == serverName) ? 'open' : '' }}">
                                        {% if serverName == server.name %}
                                            <i class="xiv-ItemShard cw-home"></i>
                                        {% endif %}
                                        {{ serverName }}
                                    </button>
                                {% endfor %}
                            {% endif %}
                        </div>

                        {# Custom Pages #}
                        <div class="item_nav_custom">
                            {% if item.ItemSearchCategory.ID is defined %}
                                {# Item Details #}
                                <button type="button" data-tab="details" class="btn-details">
                                    <i class="xiv-ArmoryChest cw-details"></i> Details
                                </button>
                            {% endif %}

                            {% if not shops and item.ItemSearchCategory.ID is defined %}
                                {# Alerts #}
                                <button type="button" data-tab="alerts" class="btn-alerts">
                                    <i class="xiv-app_drawer_news cw-alerts"></i> Alerts
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

            {% if is_updating %}
                <div class="alert alert-purple"><strong>This item is being updated on {{ server.dc }}</strong>! Refresh in a couple minutes.</div>
            {% endif %}

            <div class="tab">
                {% if shops %}
                    <div class="tab-page tab-shops open">
                        {% include 'Product/item_shops.html.twig' %}
                    </div>
                {% elseif item.ItemSearchCategory.ID is not defined %}
                    <div class="tab-page open">
                        <div class="alert-red">
                            This item does not sell on the Market Board.
                        </div>
                    </div>
                {% else %}
                    {# Summary #}
                    <div class="tab-page tab-summary {{ (cookie('mogboard_homeworld', 'no') == 'yes' or reqServer) ? '' : 'open' }}">
                        {% include 'Product/item_market_summary.html.twig' %}
                    </div>

                    {# Server Pages #}
                    {% for serverName in server.dc_servers %}
                        {% set marketData = market[serverName] ?? null %}
                        {% if marketData and marketData.Updated %}
                            {% set pricesCount       = marketData.Prices|length %}
                            {% set historyCount      = marketData.History|length %}
                            {% set updateInfo        = marketStats.Report[marketData.UpdatePriority] ?? null %}
                            {% set cheapestPrice     = cheapest[serverName] %}
                            {% set averagePricesNQ   = census[serverName].Prices_Average_PricePerUnit_NQ %}
                            {% set averagePricesHQ   = census[serverName].Prices_Average_PricePerUnit_HQ %}
                            {% set averageHistoryNQ  = census[serverName].History_Average_PricePerUnit_NQ %}
                            {% set averageHistoryHQ  = census[serverName].History_Average_PricePerUnit_HQ %}

                            <div class="tab-page tab-cw{{ serverName }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name or reqServer == serverName) ? 'open' : '' }}">
                                {% if updateInfo %}
                                    <div class="item_update_time" data-tippy-content="Queue: {{ marketData.UpdatePriority }} - {{ updateInfo.Name ?? 'No Queue' }} <br> Current Update Duration: {{ marketData.UpdatePriority ? 'Anytime' : (updateInfo.CycleTimeReal ?? 'None') }}">
                                        {% set updateEta = (marketData.Updated + updateInfo.CycleTimeSec)|date   %}
                                        Prices on <strong>{{ serverName }}</strong> updated <strong class="text-highlight">{{ marketData.Updated|dateSimple }}</strong>
                                        <span></span>
                                        Update Queue: <strong class="text-blue">{{ updateInfo.Name }}</strong>
                                        -
                                        ETA: <strong>{{ updateEta }}</strong>
                                    </div>
                                {% else %}
                                    <div class="alert-light tac">

                                        <div>
                                            <strong class="text-red">Low Data Detect</strong>
                                        </div>

                                        This item has low amount of data on Mogboard. This could be because: Server is new, Item is new (eg. Patch) or the item
                                        has only recently started being tracked on Mogboard. If this message persists, please contact a staff member on the XIVAPI Discord to verify.
                                    </div>
                                {% endif %}

                                {# Price History #}
                                {% if marketData.History %}
                                    {% include 'Product/chart_hc.html.twig' with {
                                        chart: {
                                            id: 'history_' ~ serverName,
                                            server: serverName,
                                            series: [
                                                {
                                                    id:   'HC_History_HQ_'~ serverName,
                                                    name: '(High-Quality) Price Per Unit',
                                                    data: census[serverName].HC_History_HQ,
                                                    yAxis: 0,
                                                    showInNavigator: true,
                                                    negativeColor: true,
                                                    navigatorOptions: {
                                                        type: 'line',
                                                        color: 'rgba(202,200,68,0.35)'
                                                    },
                                                },
                                                {
                                                    id:   'HC_History_NQ_'~ serverName,
                                                    name: '(Normal Quality) Price Per Unit',
                                                    data: census[serverName].HC_History_NQ,
                                                    yAxis: 0,
                                                    showInNavigator: true,
                                                    negativeColor: true,
                                                    navigatorOptions: {
                                                        type: 'line',
                                                        color: 'rgba(120,120,120,0.35)'
                                                    },
                                                },

                                                {
                                                    id:   'HC_History_HQ_volume_'~ serverName,
                                                    name: '(High-Quality) Price Per Unit QUANTITY',
                                                    data: census[serverName].HC_History_HQ_volume,
                                                    linkedTo: 'HC_History_HQ_'~ serverName,
                                                    type: 'column',
                                                    yAxis: 1,
                                                    showInNavigator: false,
                                                },
                                                {
                                                    id:   'HC_History_NQ_volume_'~ serverName,
                                                    name: '(Normal Quality) Price Per Unit QUANTITY',
                                                    data: census[serverName].HC_History_NQ_volume,
                                                    linkedTo: 'HC_History_NQ_'~ serverName,
                                                    type: 'column',
                                                    yAxis: 1,
                                                    showInNavigator: false,
                                                }
                                            ]
                                        }
                                    } %}
                                {% endif %}

                                <div class="tab-market-tables">
                                    <div class="cw-table cw-prices">
                                        <h4>PRICES</h4>
                                        {% include 'Product/prices.html.twig' with {
                                            'prices': marketData.Prices,
                                            'cheapestPrice': cheapestPrice,
                                            'averagePricesNQ': averagePricesNQ,
                                            'averagePricesHQ': averagePricesHQ
                                        } %}
                                    </div>

                                    <div class="cw-table cw-history">
                                        <h4>HISTORY</h4>
                                        {% include 'Product/history.html.twig' with {
                                            'history': marketData.History,
                                            'cheapestPrice': cheapestPrice,
                                            'averagePricesNQ': averagePricesNQ,
                                            'averagePricesHQ': averagePricesHQ
                                        } %}
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="tab-page tab-cw{{ serverName }} {{ (cookie('mogboard_homeworld', 'no') == 'yes' and serverName == server.name) ? 'open' : '' }}">
                                <div class="item-no-data">
                                    <h2 class="text-highlight">Sorry, no market data!</h2>
                                    <p>
                                        Mogboard could not find any market data for
                                        this item on the server{{ serverName }}.
                                    </p>
                                    <p>
                                        There can be a few reasons for this, here are some:
                                    </p>
                                    <ul>
                                        <li>{{ serverName }} is a brand new server</li>
                                        <li>This item has only recently been added</li>
                                        <li>This item has just started to be tracked</li>
                                        <li>Something broke</li>
                                    </ul>
                                    If it is that last one, be sure to jump on discord and let us know!
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                    {# Alerts #}
                    <div class="tab-page tab-alerts">
                        {% include 'Product/alerts.html.twig' %}
                    </div>
                {% endif %}

                {# Details #}
                <div class="tab-page tab-details">
                    {% include 'Product/item_details.html.twig' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
