{% extends 'base.html.twig' %}
{% set title = item.Name %}

{% block body %}
<div class="product">

    <div>
        <span class="icon icon-rarity-{{ item.Rarity }}">
            <img src="/temp/12865.png">
        </span>
        <div class="menu">
            <h4>
                <strong>(DC)</strong> {{ server.dc }}
            </h4>

            <button type="button" data-tab="summary"><span class="xiv-Market"></span> Summary</button>
            {% for serverName in server.dc_servers %}
                {% set icon = serverName == server.name ? 'ItemShard' : 'PaintBorder' %}
                {% set className = serverName == server.name ? 'home-world open' : '' %}
                <button type="button" data-tab="cw{{ serverName }}" class="{{ className }}"><span class="xiv-{{ icon }} cw-icon"></span> {{ serverName }} <em>{{ attribute(market, serverName).Prices|length|number_format }}</em></button>
            {% endfor %}
        </div>
    </div>
    <div>
        {# patch #}
        <span class="patch" data-tippy-content="{{ item.GamePatch.Name }}">
            PATCH {{ item.GamePatch.Version }}
        </span>

        {# title #}
        <h1 class="rarity-{{ item.Rarity }}">{{ item.Name }}</h1>

        {# info #}
        <div class="info">
            <button class="product-search-cat" data-tippy-content="Open Market Category: {{ item.ItemSearchCategory.Name }}" data-cat="{{ item.ItemSearchCategory.ID }}">
                <i class="xiv-{{ item.ItemSearchCategory.ID|xivicon }}"></i>
            </button>
            <span>{{ item.ItemKind.Name }}</span>
            <span class="product-item-kind">{{ item.ItemUICategory.Name }}</span>
            <span><em>Stack Size:</em>{{ item.StackSize|number_format }}</span>
            <span>
                <em>On Sale</em>{{ attribute(market, server.name).Prices|length|number_format }}
                &nbsp;&nbsp;
                <img src="/i/game/hq.png">
                34
            </span>
            <span>
                <em>History</em>{{ attribute(market, server.name).History|length|number_format }}
                &nbsp;&nbsp;
                <img src="/i/game/hq.png">
                22
            </span>
        </div>

        <div class="tab">
            {# Cross World #}
            <div class="tab-page tab-summary">
                Cross-World Summary
            </div>
            {% for serverName in server.dc_servers %}
                {% set open = serverName == server.name ? 'open' : '' %}
                <div class="tab-page tab-cw{{ serverName }} {{ open }}">
                    <h1>{{ serverName }}</h1>
                    <div class="cw-prices open">
                        {% include 'Product/prices.html.twig' with { 'prices': attribute(market, serverName).Prices } %}
                    </div>
                    <div class="cw-history open">
                        {% include 'Product/history.html.twig' with { 'history': attribute(market, serverName).History } %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="box">
            {% include 'Product/item_updated.html.twig' %}
        </div>

        <div class="box">
            {% include 'Product/alerts.html.twig' %}
        </div>

        <div class="box">
            {% include 'Product/friends.html.twig' %}
        </div>

        {# Multi-Language display #}
        <div class="box box-language">
            {% include 'Product/language.html.twig' %}
        </div>

        {# Third Party Links #}
        <div class="box">
            {% include 'Product/third_party.html.twig' %}
        </div>

        <div class="box">
            {% include 'Product/item_details.html.twig' %}
        </div>

    </div>

</div>
{% endblock %}

{% block javascripts %}

{% endblock %}
