{% extends 'base.html.twig' %}
{% set title = item.Name %}

{% block body %}
<script>let itemId = {{ item.ID }};</script>
<div class="product">

    <div>
        <span class="icon icon-rarity-{{ item.Rarity }}">
            <img src="{{ item.ID|icon3x }}">
        </span>
        <div class="menu">
            <h4>
                <strong>(DC)</strong> {{ server.dc }}
            </h4>

            <button type="button" data-tab="summary" class="btn-summary"><span class="xiv-Market cw-summary"></span> Summary</button>

            {% for serverName in server.dc_servers %}
                {% set icon = serverName == server.name ? 'ItemShard cw-home' : 'PaintBorder' %}
                {% set className = serverName == server.name ? 'home-world open' : '' %}
                {% set salesCount = attribute(market, serverName).Prices is defined ? attribute(market, serverName).Prices|length|number_format : '-' %}
                <button type="button" data-tab="cw{{ serverName }}" class="{{ className }}"><span class="xiv-{{ icon }}"></span> {{ serverName }} <em>{{ salesCount }}</em></button>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="product-header">
            {# title #}
            <h1 class="rarity-{{ item.Rarity }}">
                <i class="xiv-{{ item.ItemSearchCategory.ID|xivicon }}"></i>
                {{ item.Name }}
                <span>{{ item.ItemKind.Name }}</span>
                <span>{{ item.ItemUICategory.Name }}</span>
            </h1>
        </div>



        <div class="tab">
            {# Cross World #}
            <div class="tab-page tab-summary">
                Cross-World Summary
            </div>
            {% for serverName in server.dc_servers %}
                {% set open = serverName == server.name ? 'open' : '' %}
                <div class="tab-page tab-cw{{ serverName }} {{ open }}">

                    <div class="tab-nav">
                        <div>
                            <button data-tab="cw-prices" class="active">Prices</button>
                            <button data-tab="cw-history">History</button>
                        </div>

                        <div>
                            <span><strong>Updated</strong> &nbsp; {{ attribute(market, serverName).Updated|date }}</span>
                        </div>
                    </div>

                    <div class="cw-table cw-prices open">
                        {% if attribute(market, serverName).Prices is defined %}
                            {% include 'Product/prices.html.twig' with { 'prices': attribute(market, serverName).Prices } %}
                        {% else %}
                            <div>umm, prices missing? huh</div>
                        {% endif %}
                    </div>
                    <div class="cw-table cw-history">
                        {% if attribute(market, serverName).History is defined %}
                            {% include 'Product/history.html.twig' with { 'history': attribute(market, serverName).History } %}
                        {% else %}
                            <div>hmm, history missing to....</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <div class="box box_lists">
            {% include 'Product/lists.html.twig' %}
        </div>

        <div class="box box-alerts">
            {% include 'Product/alerts.html.twig' %}
        </div>

        <div class="box">
            {% include 'Product/friends.html.twig' %}
        </div>

        {# Multi-Language display #}
        <div class="box box-language">
            {% include 'Product/language.html.twig' %}
        </div>

        {# Team Craft #}
        <div class="box box_teamcraft">
            {% include 'Product/teamcraft.html.twig' %}
        </div>

        {# Third Party Links #}
        <div class="box box_third_party">
            {% include 'Product/third_party.html.twig' %}
        </div>

        <div class="box box_item_details">
            {% include 'Product/item_details.html.twig' %}
        </div>

    </div>

</div>
{% endblock %}
