<div class="item_details">

    {# MULTI-LANGUAGE#}
    <div class="item_details_box">
        <h3>Multi-Language Names</h3>
        <div class="table">
            <table class="table">
                <thead>
                    <tr>
                        <th>EN</th>
                        <th>FR</th>
                        <th>DE</th>
                        <th>JA</th>
                        <th>CN</th>
                        <th>KR</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ item.Name_en }}</td>
                        <td>{{ item.Name_fr }}</td>
                        <td>{{ item.Name_de }}</td>
                        <td>{{ item.Name_ja }}</td>
                        <td>{{ item.Name_cn ?? '-' }}</td>
                        <td>{{ item.Name_kr ?? '-' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# TEAM CRAFT #}
    <div class="item_details_box">
        <div class="table">
            <table class="table">
                <tbody>
                    <tr>
                        <td width="10%" class="tac">
                            <img src="/i/brand/3rd/team_craft.png" height="48" class="tclogo">
                        </td>
                        <td>
                            <h4>TeamCraft</h4>
                            <small>
                                {{ recipes|length > 0 ? 'This item can be crafted!' : 'Item cannot be crafted' }}
                                &nbsp;&nbsp;-&nbsp;&nbsp;
                                {{ item.CanBeHq ? '<img src="/i/game/hq.png"> Item can be High-Quality' : 'Item cannot be HQ' }}
                            </small>
                            {% if recipes %}
                                <br><br>
                                <strong>Recipes</strong>
                                {% for recipe in recipes %}
                                    <div>
                                        <img src="{{ recipe.icon|icon }}" height="26" class="tc-img">
                                        <a href="https://ffxivteamcraft.com/import/{{ (item.ID ~','~ recipe.id ~',1')|base64encode }}" target="_blank"><em>{{ recipe.level }}</em> {{ recipe.classjob }}</a>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# FANSITES #}
    <div class="item_details_box">
        <div class="table">
            <table>
                <tbody>
                <tr>
                    <td width="2%"><img src="/i/brand/3rd/garland_tools.png" height="18" class="gt"></td>
                    <td><a href="https://garlandtools.org/db/#item/{{ item.ID }}" target="_blank">Garland Tools</a></td>
                </tr>
                <tr>
                    <td><img src="/i/brand/3rd/gamer_escape.png" height="18" class="ge"></td>
                    <td><a href="https://ffxiv.gamerescape.com/wiki/{{ item.Name_en|replace({ ' ': '_' }) }}" target="_blank">Gamer Escape</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="item_details_footnote">
            Do you run a fansite that MogBoard could link to? Get in touch on Discord!
        </p>
    </div>

    {# API #}
    <div class="item_details_box">
        <h3>XIVAPI</h3>
        <p>
            All the information you see on this page can be obtained from XIVAPI
            using the Market Endpoint. This is an open and accessible API to everyone
            and you can use it to obtain all sorts of information regarding the FFXIV
            market place.
        </p>
        <p>
            You can find out more <a href="https://xivapi.com/docs/Market">Market API Documentation</a>.
        </p>
        <div class="table">
            <table class="table">
                <thead>
                <tr>
                    <th>API Endpoint</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <a href="https://xivapi.com/market/item/{{ item.ID }}?dc={{ server.dc }}" target="_blank">
                            /market/item/{{ item.ID }}?dc={{ server.dc }}
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {# BASIC INFO #}
    <div class="item_details_box">
        <div class="table">
            <table>
                <tbody>
                {% if item.Description %}
                    <tr>
                        <td colspan="2" class="item_description">
                            {{ item.Description|raw }}
                        </td>
                    </tr>
                {% endif %}
                {% if item.ClassJobCategory %}
                    <tr>
                        <td colspan="2"><em>{{ item.LevelEquip }}</em> {{ item.ClassJobCategory.Name ?? '' }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td width="45%">Item Level</td>
                    <td><em>{{ item.LevelItem }}</em></td>
                </tr>
                <tr>
                    <td>Materia Slots</td>
                    <td><em>{{ item.MateriaSlotCount ?: 'None' }}</em></td>
                </tr>
                <tr>
                    <td>Stack Size</td>
                    <td><em>{{ item.StackSize|number_format }}</em></td>
                </tr>

                <tr>
                    <td>Rarity</td>
                    <td><em>{{ item.Rarity }}</em></td>
                </tr>
                {% if item.GamePatch is defined %}
                    <tr>
                        <td colspan="2"><em>{{ item.GamePatch.Name }}</em></td>
                    </tr>
                {% endif %}
                <tr>
                    <td colspan="2">Repair: <em>{{ item.ItemRepair.Name ?? 'n/a' }}</em></td>
                </tr>
                <tr>
                    <td colspan="2">Glamour: <em>{{ item.ItemGlamour.Name ?? 'n/a' }}</em></td>
                </tr>
                <tr>
                    <td colspan="2" class="item_connections">
                        <small>API CONNECTIONS</small>
                        {% for type, fields in item.GameContentLinks %}
                            <div>{{ type }}</div>
                        {% else %}
                            <div>(No content connections found)</div>
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="item_connections">
                        <small>API ENDPOINTS</small>
                        <div>
                            <a href="https://xivapi.com/item/{{ item.ID }}">/item/{{ item.ID }}</a>
                        </div>
                        <div>
                            <a href="https://xivapi.com/market/item/{{ item.ID }}?servers={{ server.name }}">/market/item/{{ item.ID }}</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

