{% extends 'base.html.twig' %}

{% block body %}
<div class="product">

    <div class="product-header">
        <img src="{{ item.Icon|icon }}">

        <h1 class="rarity-{{ item.Rarity }}"><span>{{ item.LevelItem }}</span> {{ item.Name }}</h1>

        {{ item.ItemKind.Name }} <em>-</em> {{ item.ItemUICategory.Name }}

        {% if item.ClassJobCategory.Name is defined %}
        <em>-</em> {{ item.LevelEquip }} {{ item.ClassJobCategory.Name }}
        {% endif %}

        <div class="product-actions">
            <button class="btn btn-add-to-list">Add to List</button>
            <button class="btn btn-refresh"><img src="/i/sync-alt-regular.svg" height="14">Refresh</button>
        </div>
    </div>

    <div class="product-loading on">
        <div>loading</div>
        <span>
            <em></em>
            <em></em>
            <em></em>
            <em></em>
        </span>
    </div>

    <div class="product-page">
        <div class="product-page-left">
            <h2>PRICES</h2>
            <div class="product-box product-prices">
                prizes
            </div>
        </div>
        <div class="product-page-right">
            <h2>HISTORY</h2>
            <div class="product-box product-history">
                history
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
let refreshButton = $('.btn-refresh'),
    totalModules = 2,
    currentModules = 0;

refreshButton.on('click', fetchPricesAndHistory);

function hideLoading() {
    currentModules++;

    if (currentModules >= totalModules) {
        refreshButton.attr('disabled', false);

        $('.product-loading').removeClass('on');
        $('.product-page').addClass('active');
    }
}
function fetchPricesAndHistory() {
    currentModules = 0;

    $('.product-loading').addClass('on');
    $('.product-page').removeClass( 'active');

    // fetch prices + history
    mogboard.ProductPricing.setUi('.product-prices').fetch({{ item.ID }}, hideLoading);
    mogboard.ProductHistory.setUi('.product-history').fetch({{ item.ID }}, hideLoading);
    refreshButton.attr('disabled', true);
}

fetchPricesAndHistory();
</script>
{% endblock %}
