{% extends 'base.html.twig' %}

{% block title %}
    {{ item.Name }} - Mogboard
{% endblock %}

{% block body %}
<div class="product">

    <div class="product-header">
        <img src="{{ item.Icon|icon }}">

        <h1 class="rarity-{{ item.Rarity }}"><span>{{ item.LevelItem }}</span> {{ item.Name }}</h1>

        {{ item.ItemKind.Name }} <em>-</em> {{ item.ItemUICategory.Name }}

        {% if item.ClassJobCategory.Name is defined %}
        <em>-</em> {{ item.LevelEquip }} {{ item.ClassJobCategory.Name }}
        {% endif %}

        <div class="product-actions">
            <button class="btn btn-cross-server">
                <img src="/i/atheryte.png"> Cross-Server Prices
            </button>
            <button class="btn btn-refresh"><img src="/i/sync-alt-regular.svg" height="13">Refresh</button>
        </div>
    </div>

    <div class="product-user-bar">
        <div>
            {% if auth.online() %}
                <button class="btn-add-list"><img src="/i/tasks-regular.svg" height="16"> Add to List</button>
                <button class="btn-add-alert"><img src="/i/alarm-clock-regular.svg" height="16"> Create Alert</button>
            {% else %}
                <a href="{{ path('user_login_discord') }}">Login via Discord</a> to create item alerts and watch lists.
            {% endif %}
        </div>
        <div>
            <span>Popularity: <em>⮝{{ random(500) }}%</em></span>
        </div>
    </div>

    {% include "Product/modal_alert.html.twig" %}

    <div class="loading-container">
        <div class="product-loading-bar-text">-</div>
        <div class="product-loading-bar">
            <span style="width: 0%;"></span>
        </div>
    </div>

    <div class="product-page2 product-cross-world"></div>

    <div class="product-page">
        <div class="product-page-left">
            <h2>PRICES</h2>
            <div class="product-box product-prices">
                <span class="product-loading-temp"><img src="/i/mog_bw.png" height="100"></span>
            </div>
        </div>
        <div class="product-page-right">
            <h2>HISTORY</h2>
            <div class="product-box product-history">
                <span class="product-loading-temp"><img src="/i/mog_bw.png" height="100"></span>
            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block javascripts %}
<script>
let refreshButton    = $('.btn-refresh'),
    crossWorldButton = $('.btn-cross-server'),
    totalModules     = 2,
    currentModules   = 0;

// button actions
crossWorldButton.attr('disabled', true);
refreshButton.on('click', fetchPricesAndHistory);
crossWorldButton.on('click', fetchCrossWorldPrices);

function hideLoading() {
    currentModules++;

    if (currentModules >= totalModules) {
        mogboard.ProductLoading.hide();
        enableButtons();
    }
}
function fetchPricesAndHistory() {
    currentModules = 0;
    mogboard.ProductLoading.set(100, 'Loading data').show();

    // fetch prices + history
    mogboard.ProductPricing.setUi('.product-prices').fetch({{ item.ID }}, hideLoading);
    mogboard.ProductHistory.setUi('.product-history').fetch({{ item.ID }}, hideLoading);
    refreshButton.attr('disabled', true);
}
function fetchCrossWorldPrices() {
    mogboard.ProductLoading.setLonger().set(100, 'Loading data').show();
    crossWorldButton.attr('disabled', true);

    mogboard.ProductCrossWorld.setUi('.product-cross-world').fetch({{ item.ID }}, () => {
        crossWorldButton.attr('disabled', false);
        mogboard.ProductLoading.hide();
        enableButtons();
    });

    setTimeout(function() { mogboard.ProductLoading.setText('Loading: 1/10 ...') }, 1000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: 2/10 .......... global cooldown?') }, 2000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: 3/??? ..... still going') }, 3000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: 4/? this is just made upo ...') }, 4000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: see no numbers') }, 5000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: omg still loading?') }, 6000);
    setTimeout(function() { mogboard.ProductLoading.setText('Loading: i think its broke') }, 10000);
    setTimeout(function() { mogboard.ProductLoading.setText('yeh its broke') }, 20000);
}
function enableButtons() {
    setTimeout(function() {
        crossWorldButton.attr('disabled', false);
        refreshButton.attr('disabled', false);
    }, 1000);
}
fetchPricesAndHistory();
// fetchCrossWorldPrices();
</script>
{% endblock %}
