<div class="table">
    <table class="table">
        <tbody>
        <tr>
            <td width="1%" align="center"><em>EN</em></td>
            <td>{{ item.Name_en }}</td>
        </tr>
        <tr>
            <td><em>FR</em></td>
            <td>{{ item.Name_fr }}</td>
        </tr>
        <tr>
            <td><em>DE</em></td>
            <td>{{ item.Name_de }}</td>
        </tr>
        <tr>
            <td><em>JA</em></td>
            <td>{{ item.Name_ja }}</td>
        </tr>
        {#
        <tr>
            <td><em>Cn</em></td>
            <td>{{ item.Name_cn }}</td>
        </tr>
        <tr>
            <td><em>KR</em></td>
            <td>{{ item.Name_kr }}</td>
        </tr>
        #}
        </tbody>
    </table>
</div>
