{% if auth.isOnline %}
    {% for list in auth.user.customLists %}
        <button type="button" class="user_list_existing_button {{ itemId in list.items ? 'user_list_inlist' : '' }}" data-id="{{ list.id }}" data-action="{{ itemId in list.items ? 'remove' : 'add' }}">
            <strong>Items: {{ list.items|length }}</strong> {{ list.name }}
            {{ itemId in list.items ? '<span>REMOVE</span>' : '' }}
        </button>
    {% else %}
    <div class="user_no_lists">
        You have no lists! <br> Create one by entering in a new name above.
    </div>
    {% endfor %}
{% else %}
<div class="alert-red">
    You are not logged in. Login using discord to create item lists.
</div>
{% endif %}
