<div class="table">
    <table class="striped">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="2%">HQ</th>
            <th>Materia</th>
            <th width="15%">Price</th>
            <th width="5%">QTY</th>
            <th width="20%">Total</th>
            <th>Retainer</th>
            <th>Creator</th>
        </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td class="price-num">{{ loop.index }}</td>
                <td class="price-hq">{{ price.is_hq ? '<img src="/i/game/hq.png">' : '' }}</td>
                <td class="materia">
                    {{ price.materia ? '<i class="icon-ItemCategory_Materia"></icon>' : '' }}
                </td>
                <td class="price-current">{{ price.price_per_unit|number_format }}</td>
                <td class="price-qty">{{ price.quantity|number_format }}</td>
                <td class="price-total">{{ price.price_total|number_format }}</td>
                <td class="price-retainer">{{ price.retainer_id ? 'Retainer' : '' }}</td>
                <td class="price-creator">{{ price.craft_signature_id ? 'Creator Name' : '' }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
