{% set cityflags = {
    1: '/i/060000/060881.png',
    2: '/i/060000/060882.png',
    3: '/i/060000/060883.png',
    4: '/i/060000/060884.png',
    7: '/i/060000/060885.png',
} %}
<div class="table product_table">
    <table class="table-sortable">
        <thead>
        <tr>
            {% if prices %}
                <th data-sort="int" width="2%" class="tac">#</th>
                {% if crossWorld is defined %}
                <th data-sort="string" width="10%">Server</th>
                {% endif %}
                <th data-sort="int" width="2%">HQ</th>
                <th data-sort="int" width="8%">Mat</th>
                <th data-sort="int" width="15%">Price</th>
                <th data-sort="int" width="5%">QTY</th>
                <th data-sort="int" width="15%">Total</th>
                {% if averagePricesHQ is defined %}
                <th data-sort="int" width="2%">%Diff</th>
                {% endif %}
                <th data-sort="string">Retainer</th>
                <th data-sort="string">Creator</th>
            {% else %}
                <th>No Listings</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for row in prices %}
            {# Set materia #}
            {% set materialist = [] %}
            {% for id in row.Materia %}
                {% set item = game().item(id) %}
                {% set materialist = materialist|merge([ item.Name ]) %}
            {% endfor %}

            {# Compare diff against average #}
            {% if averagePricesHQ is defined  %}
                {% set diffForQuality = row.IsHQ ? averagePricesHQ : averagePricesNQ %}
                {% set pricePerUnitDiff = diffForQuality <= 0 ? 0 : (((row.PricePerUnit / diffForQuality) * 100) - 100)|round %}
            {% endif %}

            <tr class="{{ averageHistoryHQ is defined and pricePerUnitDiff < -100 ? 'price-diff-oops' : ''}}">
                <td class="price-num tac" data-tippy-content="{{ row.ID }}">{{ loop.index }}</td>
                {% if crossWorld is defined %}
                <td class="price-server" data-sort-value="{{ row._Server }}"><strong>{{ row._Server }}</strong></td>
                {% endif %}
                <td class="price-hq" data-sort-value="{{ row.IsHQ ? 1 : 0 }}">{{ row.IsHQ ? '<img src="/i/game/hq.png">' : '' }}</td>
                <td class="materia" data-sort-value="{{ row.Materia|length }}">
                    {% if row.Materia %}
                        <span data-tippy-content="{{ materialist|join("<br>") }}" data-tippy-placement="right">
                            <i class="xiv-ItemCategory_Materia"></i>x{{ row.Materia|length }}
                        </span>
                    {% endif %}
                </td>
                <td class="price-current" data-sort-value="{{ row.PricePerUnit }}">{{ row.PricePerUnit|number_format }}</td>
                <td class="price-qty" data-sort-value="{{ row.Quantity }}">{{ row.Quantity|number_format }}</td>
                <td class="price-total" data-sort-value="{{ row.PriceTotal }}">{{ row.PriceTotal|number_format }}</td>
                {% if averagePricesHQ is defined %}
                <td class="price-diff {{ pricePerUnitDiff >= 20 ? 'price-diff-bad' : (pricePerUnitDiff < -10 ? 'price-diff-good' : '') }}" data-sort-value="{{ pricePerUnitDiff }}" data-tippy-content="This listing is {{ pricePerUnitDiff }}% {{ pricePerUnitDiff > 0 ? 'more' : 'less' }} than the current <br> <strong>Avg. Price Per Unit</strong>: {{ row.IsHQ ? '(HQ)' : '(NQ)' }} {{ diffForQuality|number_format }}">{{ pricePerUnitDiff > 0 ? '+' : '' }}{{ pricePerUnitDiff == 0 ? '-' : pricePerUnitDiff ~ '%' }}</td>
                {% endif %}
                <td class="price-retainer">
                    {{ row.RetainerName }}
                    <img src="{{ cityflags[row.TownID]|icon }}" class="price-city-flag">
                </td>
                <td class="price-creator">{{ row.CreatorSignatureID ? row.CreatorSignatureName : '' }}</td>
            </tr>
        {% else %}
            <tr>
                <td>There are no listings for this item, check back later!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
