<div class="table">
    <table class="striped">
        <thead>
        <tr>
            <th width="2%">#</th>
            <th width="2%">HQ</th>
            <th>Materia</th>
            <th width="15%">Price</th>
            <th width="5%">QTY</th>
            <th width="20%">Total</th>
            <th>Retainer</th>
            <th>Creator</th>
        </tr>
        </thead>
        <tbody>
        {% for price in prices %}
            <tr>
                <td class="price-num" data-tippy-content="ID: {{ price.ID }}">{{ loop.index }}</td>
                <td class="price-hq">{{ price.IsHq ? '<img src="/i/game/hq.png">' : '' }}</td>
                <td class="materia">
                    {% if price.Materia %}
                        {% for id in price.Materia %}
                            {% set item = gamedata().item(id) %}
                            <img src="{{ item.Icon|icon }}" data-tippy-content="{{ item.Name }}" height="16">
                        {% endfor %}
                    {% endif %}
                </td>
                <td class="price-current">{{ price.PricePerUnit|number_format }}</td>
                <td class="price-qty">{{ price.Quantity|number_format }}</td>
                <td class="price-total">{{ price.PriceTotal|number_format }}</td>
                <td class="price-retainer">
                    <a href="#" data-tippy-content="{{ price.RetainerID }}">{{ price.RetainerName }}</a>
                </td>
                <td class="price-creator">
                    {% if price.CreatorSignatureID %}
                        <a href="#" data-tippy-content="{{ price.CreatorSignatureID }}">{{ price.CreatorSignatureName }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
