<div class="item-category-header">
    <div>
        <i class="xiv-{{ category.ID|xivicon }}"></i> {{ category.Name }}
    </div>
    <div>
        {{ items|length|number_format }} items
    </div>
</div>
<div data-simplebar class="item-category-list" id="item-category-list">
    {% for item in items %}
    <a href="{{ path('item_page', { itemId: item.ID }) }}" class="rarity-{{ item.Rarity }}">
        <span><img src="https://xivapi.com/mb/loading.svg" class="lazy" data-src="{{ item.Icon|icon }}"></span>
        <span class="item-level">{{ item.LevelItem }}</span>
        {{ item.Name }}
    </a>
    {% endfor %}
    <small>the end</small>
</div>
<script>mogboard.HeaderCategories.setLoadingLazyLoadWatcher();</script>
