<div class="item-category-list">

    <h2>{{ category.Name }}</h2>

    {% for item in items %}
    <a href="{{ path('product_page', { server: 'Phoenix', id: item.ID }) }}" class="rarity-{{ item.Rarity }}">
        <span><img src="{{ item.Icon|icon }}"></span>
        <span>{{ item.LevelItem }}</span>
        {{ item.Name }}
    </a>
    {% endfor %}

</div>
