<div style="padding: 20px;">
    <h1>Patreon Refund Request</h1>

    <ul>
        <li>Name/Email: {{ name_or_email }}</li>
        <li>Discord: {{ id }} {{ username }} {{ email }}</li>
        <li>Tier: {{ tier }}</li>
    </ul>
</div>

