{% extends 'UserAccount/index.html.twig' %}
{% set title = 'My Account' %}
{% set accountpage = 'account' %}

{% block account %}

    <h1>Account</h1>
    <div class="table-dark">
        <table>
            <tbody>
                <tr>
                    <td width="10%">
                        <img src="{{ auth.user.avatar }}" height="64" class="user_avatar">
                    </td>
                    <td>
                        <h3>{{ auth.user.username }}</h3>
                        {{ auth.user.sso|title }} - {{ auth.user.email }} - Timezone: {{ timezone() }}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        {% if auth.user.isPatron %}
                            <small style="margin-bottom: 5px;">PATREON REWARD ACTIVE</small>
                            <h5 class="text-green">You are a {{ auth.user.patreonTier }} tier supporter!</h5>
                            <p>
                                Firstly: a huge thank you to support XIVAPI and MogBoard. This reduces the worry
                                of building out infrastructure, or paying for market accounts. Your money
                                goes a long way. If you are interested in seeing the cost of the servers you can
                                view the <a href="https://xivapi.com/docs/Costs">Costs page on XIVAPI</a>.
                            </p>
                            <p>
                                All your perks on MogBoard and XIVAPI are active, alerts have been retroactively updated
                                to receive the new benefits. You can view your benefits in the table below.
                            </p>
                            <p>
                                Be sure to say Hi on the <strong>#patreon</strong> discord channel!
                            </p>
                            <p>
                                - PV
                            </p>
                        {% else %}
                            <h5>Patreon</h5>
                            <p>
                                Both XIVAPI.com and MogBoard.com are supported by the community via Patreon. By becoming a supporter
                                you'll receive perks for both sites and help keep the lights on!
                            </p>
                            <p>
                                <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">
                                    <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png">
                                </a>
                            </p>
                            <br>
                            <h6>I am a patron!?</h6>
                            {% if app.request.get('status') and app.request.get('status') == 'failed' %}
                                <div class="alert-red">
                                    Could not confirm patreon status, hop into discord and message @Vekien!
                                </div>
                            {% endif %}
                            <p>
                                The site checks the discord #patreon member list every hour, you can wait it out
                                or you can <a href="{{ path('user_account_confirm_patreon') }}">Click here to check your status</a>!
                            </p>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tar">
                        Ready to leave? <a href="{{ path('user_logout') }}" class="text-red">Logout</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>


    <h3>Patreon Tiers</h3>
    <p>
        Benefit patrons are given extra perks by their friends who are full patreon supporters.
        So long as your friends have logged into MogBoard you can enter their Discord Username and
        provide them with a few perks.
    </p>

    <div class="alert-dark">
        Patreon reward functionality is still a work-in-progress. If you are looking to support the
        site purely for the rewards, it may be best to wait until mid-May, thank you!
    </div>

    <div class="table-dark">
        <table>
            <tbody>
                <tr>
                    <td>Adventurer</td>
                    <td>
                        Your discord name on the official supporter page.<br>
                        Access to the discord Patreon channel.<br>
                        + Prioritised Character Tracking Updates.<br>
                        + Prioritised Mogboard Price Alerts.<br>
                    </td>
                </tr>
                <tr>
                    <td>Tank</td>
                    <td>
                        Adventurer Perks<br>
                        + Friends Character Priority Updater<br>
                        + FC Priority Updater<br>
                    </td>
                </tr>
                <tr>
                    <td>Healer</td>
                    <td>
                        Adventurer and Tank Perks<br>
                        + FC Member Character Priority Updates<br>
                        + up to 10 Friends get Patreon Benefits on Mogboard<br>
                    </td>
                </tr>
                <tr>
                    <td>DPS</td>
                    <td>
                        Adventurer, Tank and Healer Perks.<br>
                        + Private Mogboard Alert Watcher.<br>
                        + up to 50 friends get Patreon Benefits on Mogboard.<br>
                    </td>
                </tr>
                <tr>
                    <td>Benefit Friend</td>
                    <td>
                        Both Healer and DPS tiers can have "Friends with Benefits" perks, this means
                        you can add your friends to the site and they will receive a small selection of perks
                        for both XIVAPI and Mogboard.
                        <br><br>
                        These benefits will be decided based on community feedback.
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

{% endblock %}
