{% extends 'UserAccount/index.html.twig' %}
{% set title = 'My Account' %}
{% set accountpage = 'account' %}

{% block account %}

    <h1>Account</h1>
    <div class="table-dark">
        <table>
            <tbody>
                <tr>
                    <td width="10%">
                        <img src="{{ auth.user.avatar }}" height="64" class="user_avatar">
                    </td>
                    <td>
                        <h3>{{ auth.user.username }}</h3>
                        {{ auth.user.sso|title }} - {{ auth.user.email }} - Timezone: {{ timezone() }}
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        {% if auth.user.isPatron %}
                            <small style="margin-bottom: 5px;">PATREON REWARD ACTIVE</small>
                            <h5 class="text-green">You are a {{ auth.user.patreonTier }} tier supporter!</h5>
                            <p>
                                Firstly: a huge thank you to support XIVAPI and MogBoard. This reduces the worry
                                of building out infrastructure, or paying for market accounts. Your money
                                goes a long way. If you are interested in seeing the cost of the servers you can
                                view the <a href="https://xivapi.com/docs/Costs">Costs page on XIVAPI</a>.
                            </p>
                            <p>
                                All your perks on MogBoard and XIVAPI are active, alerts have been retroactively updated
                                to receive the new benefits. You can view your benefits in the table below.
                            </p>
                            <p>
                                Be sure to say Hi on the <strong>#patreon</strong> discord channel!
                            </p>
                            <p>
                                - PV
                            </p>
                        {% else %}
                            <h5>Patreon</h5>
                            <p>
                                Both XIVAPI.com and MogBoard.com are supported by the community via Patreon. By becoming a supporter
                                you'll receive perks for both sites and help keep the lights on!
                            </p>
                            <p>
                                If you are a supporter, please make sure you are in the XIVAPI discord and have received a Patreon Role
                                and can view #patreon.
                            </p>
                            <p>
                                <a href="https://www.patreon.com/bePatron?u=13230932" target="_blank">
                                    <img src="https://c5.patreon.com/external/logo/become_a_patron_button.png">
                                </a>
                            </p>
                            <p class="text-red">At this time patreon is not active.</p>
                        {% endif %}
                        <hr>
                        <h6>Confirm Patreon Status</h6>
                        <p>
                            Patreon status is checked once every hour as it has a lot of members to go through,
                            if you can't wait, click the button below!
                        </p>
                        {% if app.request.get('patreon_checked') %}
                            <div class="alert-green">
                                Your patreon status returned as: <strong>{{ app.request.get('patreon_checked') }}</strong>
                                - If this is incorrect, please jump into the Discord and message Vekien.
                            </div>
                        {% endif %}
                        <p class="form">
                            <a href="{{ path('user_account_confirm_patreon') }}" class="btn btn-green">Check my Patreon Status</a>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tar">
                        Ready to leave? <a href="{{ path('user_logout') }}" class="text-red">Logout</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <hr>


    <h3>PATREON</h3>
    <div class="alert-dark">
        Patreon reward functionality is still a work-in-progress. If you are looking to support the
        site purely for the rewards, it may be best to wait until mid-May, thank you!
    </div>

    <div class="alert-dark">
        <p style="font-size: 24px;">
            <strong>Link: <a href="https://www.patreon.com/vekien" class="text-red">patreon.com/vekien</a></strong>
        </p>

        <p>
            Becoming a patron supports <strong>two FFXIV sites that I work on:</strong>
        <ul>
            <li class="text-green">Mogboard.com</li>
            <li class="text-green">XIVAPI.com</li>
        </ul>
        </p>

        <p>
            <strong>
                All patreon funds go directly to the site. I never take a single penny
                out from PayPal. Your money and support is for keeping the site going,
                not my Diet Pepsi fund!
            </strong>
        </p>

        <p>
            You can view the current server and account costs here:
            <a href="https://xivapi.com/docs/Costs" target="_blank">Accounts and Server Costs</a>
            (This page updates in real-time)
        </p>
    </div>

    <div class="alert-dark">
        <h2 class="pat-perk-title">$1 - Adventurer</h2>
        <div class="flex">
            <div class="flex_50">
                <h3>MOGBOARD</h3>
                <ul>
                    <li>Your discord name on the official support page</li>
                    <li>Access to the discord Patreon Channel</li>
                    <li>Access to the Mogboard BETA Testing site</li>
                </ul>
            </div>
            <div class="flex_50">
                <h3>XIVAPI</h3>
                <ul>
                    <li>
                        <span class="text-red">[SOON]</span>
                        <strong>Prioritised Character Tracking Updates</strong> - Add your
                        character to mogboard and it will get priority updating on XIVAPI. This
                        is useful if you use your character on many FFXIV sites or discord bots.
                        It will also benefit mogboard when future features are implemented.
                    </li>
                    <li>
                        <span class="text-green">[ACTIVE]</span>
                        <strong>Prioritised Mogboard Price Alerts</strong> - Your alerts will be
                        checked in a special private queue, not part of general population! This
                        means you'll get your alerts faster.
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="alert-dark">
        <h2 class="pat-perk-title">$3 - Tank</h2>
        <div class="flex">
            <div class="flex_50">
                <h3>MOGBOARD</h3>
                <ul>
                    <li>No Additional Benefits</li>
                </ul>
            </div>
            <div class="flex_50">
                <h3>XIVAPI</h3>
                <ul>
                    <li>
                        <span class="text-red">[SOON]</span>
                        <strong>Prioritised FRIEND Character Tracking Updates</strong> -
                        Ensure your character is on mogboard and that your friends-list
                        is public on Lodestone. After this anyone on your in-game friends
                        list will get character update priority!
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="alert-dark">
        <h2 class="pat-perk-title">$5 - Healer</h2>
        <div class="flex">
            <div class="flex_50">
                <h3>MOGBOARD</h3>
                <ul>
                    <li>
                        <span class="text-red">[SOON]</span>
                        <strong>Friends with benefits</strong> - You can choose 10
                        friends who are on Mogboard to receive small benefits.
                    </li>
                </ul>
            </div>
            <div class="flex_50">
                <h3>XIVAPI</h3>
                <ul>
                    <li>
                        <span class="text-red">[SOON]</span>
                        <strong>Prioritised Free-Company Character Tracking Updates</strong> -
                        Ensure your character is on mogboard, everyone in your Free-Company
                        will now receive character priority updates!
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="alert-dark">
        <h2 class="pat-perk-title">$10 - DPS (limited stock)</h2>
        <div class="flex">
            <div class="flex_50">
                <h3>MOGBOARD</h3>
                <ul>
                    <li>
                        <span class="text-green">[ACTIVE]</span>
                        <strong>Private Mogboard Alert Watcher</strong> - All your alerts
                        will ensure an item is up to date regardless of its sale frequency.
                    </li>
                    <li>
                        <span class="text-red">[SOON]</span>
                        <strong>Friends with benefits</strong> - You can choose 50
                        friends who are on Mogboard to receive small benefits.
                    </li>
                </ul>
            </div>
            <div class="flex_50">
                <h3>XIVAPI</h3>
                <ul>
                    <li>No Additional Benefits</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="alert-dark">
        <h2 class="pat-perk-title">Benefit Friend <span class="text-red">[SOON(tm)]</span></h2>
        <div class="flex">
            <div class="flex_50">
                <h3>MOGBOARD</h3>
                <ul>
                    <li>
                        Rewards being decided.
                    </li>
                </ul>
            </div>
            <div class="flex_50">
                <h3>XIVAPI</h3>
                <ul>
                    <li>
                        Rewards being decided.
                    </li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
