{% extends 'UserAccount/index.html.twig' %}
{% set title = 'My Account' %}
{% set accountpage = 'account' %}

{% block account %}

    <h1>Account</h1>
    <table>
        <tbody>
            <tr>
                <td width="10%">
                    <img src="{{ auth.user.avatar }}" height="64" class="user_avatar">
                </td>
                <td>
                    <h3>{{ auth.user.username }}</h3>
                    {{ auth.user.sso|title }} - {{ auth.user.email }} - Timezone: {{ timezone() }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {% if auth.user.isPatron %}
                        <small style="margin-bottom: 5px;display:block;">PATREON REWARD ACTIVE</small>
                        <h5 class="text-green">You are a <strong>{{ auth.user.patreonTier }}</strong> tier supporter!</h5>

                        {% if auth.user.patron == 9 %}
                            {% if benefit_user %}
                            <p>
                                You are one lucky duck, the user:
                                <span class="text-yellow">{{ benefit_user.username|title }}</span> has
                                granted you extra perks on Mogboard!
                            </p>
                            {% else %}
                            <p>
                                You are one lucky duck, a user of Mogboard has granted you extra perks!
                            </p>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
