{% extends 'UserAccount/index.html.twig' %}
{% set title = 'My Account' %}
{% set accountpage = 'account' %}

{% block account %}

    <h1>Account</h1>
    <table>
        <tbody>
            <tr>
                <td width="10%">
                    <img src="{{ auth.user.avatar }}" height="64" class="user_avatar">
                </td>
                <td>
                    <h3>{{ auth.user.username }}</h3>
                    {{ auth.user.sso|title }} - {{ auth.user.email }} - Timezone: {{ timezone() }}
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>
                    {% if auth.user.isPatron %}
                        <small style="margin-bottom: 5px;display:block;">PATREON REWARD ACTIVE</small>
                        <h5 class="text-green">You are a <strong>{{ auth.user.patreonTier }}</strong> tier supporter!</h5>

                        {% if auth.user.patron == 9 %}
                            {% if benefit_user %}
                            <p>
                                You are one lucky duck, the user:
                                <span class="text-yellow">{{ benefit_user.username|title }}</span> has
                                granted you extra perks on Mogboard!
                            </p>
                            {% else %}
                            <p>
                                You are one lucky duck, a user of Mogboard has granted you extra perks!
                            </p>
                            {% endif %}
                        <p>
                            With this status, you get the following benefits:
                        </p>
                        <ul>
                            <li><strong>Manually update items on-demand</strong></li>
                            <li><strong>Prioritised Mogboard alerts!</strong></li>
                        </ul>
                        {% else %}
                        <p>
                            Firstly: a huge thank you to support XIVAPI and MogBoard. This reduces the worry
                            of building out infrastructure, or paying for market accounts. Your money
                            goes a long way. If you are interested in seeing the cost of the servers you can
                            view the <a href="https://xivapi.com/docs/Costs">Costs page on XIVAPI</a>.
                        </p>
                        <p>
                            All your perks on MogBoard and XIVAPI are active, alerts have been retroactively updated
                            to receive the new benefits. You can view your benefits in the table below.
                        </p>
                        <p>
                            Be sure to say Hi on the <strong>#patreon</strong> discord channel!
                        </p>
                        {% endif %}
                        <p>
                            - PV
                        </p>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}
