{% extends 'UserAccount/index.html.twig' %}
{% set title = 'Characters - Account' %}
{% set accountpage = 'characters' %}

{% block account %}
<script>var appEnableCharacters = 1;</script>
<script>var verify_code = '{{ auth.user.getCharacterPassPhrase() }}';</script>
<div class="characters">
    <h1>Characters</h1>

    <br>
    <div class="alert-dark">
        <strong class="text-red">Features coming soon:</strong>
        <br>
        At this time, character integration work is still being implemented. At the current moment there
        is not much benefit to add your character, if you do it will set you up ready. Coming soon will be:
        <br>
        <ul>
            <li>Patron benefits</li>
            <li>View your own purchase history</li>
            <li>View your friends purchases (if friends are public on Lodestone)</li>
            <li>Added to XIVAPI which many FFXIV Fan-sites sites use.</li>
        </ul>
        Thank you.
    </div>

    <div class="account-panel">
        {% for character in auth.user.characters %}
            <div class="flex">
                <div class="flex_10">
                    <img src="{{ character.avatar }}" class="character_avatar">
                </div>
                <div class="flex_90 character_info">
                    <a href="{{ path('characters_delete', { character: character.id }) }}" class="character_remove">REMOVE</a>
                    <h4 class="char_name"><strong>{{ character.main ? '[MAIN]' : '' }}</strong> {{ character.name }}</h4>
                    <p>
                        {{ character.server }}
                        - Updated: {{ character.updated|date }}
                    </p>
                    <p>
                        <a href="{{ path('character_main', { character: character.id }) }}">Set character as MAIN.</a>
                    </p>
                    <p>
                        {# <a href="{{ path('character_history', { character: character.id }) }}">View Purchase History</a> #}
                    </p>
                </div>
            </div>
        {% else %}
            <div class="account-none">
                You have no characters, why not add one below!
            </div>
        {% endfor %}
    </div>

    <br><br>

    <div class="account-panel">
        <div>
            <h5 class="text-green">
                Add a new character
                <span class="character_auth_code">AUTH CODE: {{ auth.user.getCharacterPassPhrase() }}</span>
            </h5>

            <br><br>

            <p>
                To add a new character, you must first add your verification code. <strong>Please add your MAIN character first</strong>.
            </p>
            <ul class="character_add_instructions">
                <li>
                    Go to Lodestone and Login with your character.
                    Then <a href="https://na.finalfantasyxiv.com/lodestone/my/setting/profile/">Click here to edit your profile</a>.
                </li>
                <li>
                    In the text box, enter in your <strong>AUTH CODE</strong>,
                    then click on Confirm (twice).
                </li>
                <li>
                    Hop back to Universalis and fill in the form below.
                    The site will search for your character
                    and confirm auth code.
                </li>
            </ul>
        </div>
        <div class="form character_form">
            <div class="form_row form_columns flex">
                <div class="flex_50">
                    <label for="character_string">Name, ID, or Lodestone URL</label>
                    <input type="text" class="full" name="character_string" id="character_string" placeholder="">
                </div>
                <div class="flex_40">
                    <label for="character_server">Server</label>
                    <select class="full" name="character_server" id="character_server">
                        {% for dc, servers in getGameDataCenters() %}
                            <optgroup label="{{ dc }}">
                                {% for server in servers %}
                                    <option value="{{ server }}" {{ server == getServer() ? 'selected' : '' }}>{{ server }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>
                <div class="flex_10">
                    <label>&nbsp;</label>
                    <button type="button" class="btn-blue character_add">Search</button>
                </div>
            </div>
            <div class="character_add_response"></div>
        </div>
    </div>



</div>
{% endblock %}
