{% extends 'base.html.twig' %}
{% set accountpage = accountpage is defined ? accountpage : 'account' %}

{% block body %}
    {% if auth.online() %}
        <div class="account">
            <div>
                <a href="{{ path('user_account') }}" class="{{ accountpage == 'account' ? 'active' : ''  }}">Account</a>

                {#
                {% if auth.user.patron > 0 %}
                    <a href="{{ path('user_account_patron_perks') }}" class="{{ accountpage == 'user_account_patron_perks' ? 'active' : ''  }}">Patreon Perks</a>
                {% endif %}
                #}

                <a href="{{ path('user_account_characters') }}" class="{{ accountpage == 'characters' ? 'active' : '' }}">Characters</a>
                <a href="{{ path('user_account_retainers') }}" class="{{ accountpage == 'retainers' ? 'active' : '' }}">Retainers</a>
                <a href="{{ path('user_account_alerts') }}" class="{{ accountpage == 'alerts' ? 'active' : '' }}">Alerts</a>
                <a href="{{ path('user_account_lists') }}" class="{{ accountpage == 'lists' ? 'active' : '' }}">Lists</a>
                {# <a href="{{ path('user_account_reports') }}" class="{{ accountpage == 'reports' ? 'active' : '' }}">Reports</a> #}

                <hr>

                <a href="{{ path('account_logout') }}" class="logout">Logout</a>

            </div>
            <div>
                {% block account %}{% endblock %}
            </div>
        </div>
    {% else %}
        <div class="alert-light" style="padding: 50px;">
            <div class="tac">
                <h2>Oops!</h2>
                <p>
                    You must be logged in to view this area.
                </p>
                <p>
                    You can <a href="{{ path('account_login_discord') }}">login via Discord</a> to get that juicy access! Maybe!
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}
