{% extends 'base.html.twig' %}
{% set accountpage = accountpage is defined ? accountpage : 'account' %}

{% block body %}
    {% if auth.online() %}
        <div class="account">
            <div>
                <h5>My Account</h5>
                <a href="{{ path('user_account') }}" class="{{ accountpage == 'account' ? 'active' : ''  }}">Account / Patreon</a>
                <a href="{{ path('user_account_characters') }}" class="{{ accountpage == 'characters' ? 'active' : '' }}">Characters</a>
                <a href="{{ path('user_account_retainers') }}" class="{{ accountpage == 'retainers' ? 'active' : '' }}">Retainers</a>
                <a href="{{ path('user_account_alerts') }}" class="{{ accountpage == 'alerts' ? 'active' : '' }}">Alerts</a>
                <a href="{{ path('user_account_lists') }}" class="{{ accountpage == 'lists' ? 'active' : '' }}">Lists</a>
                <a href="{{ path('user_account_reports') }}" class="{{ accountpage == 'reports' ? 'active' : '' }}">Reports</a>
            </div>
            <div>
                {% block account %}{% endblock %}
            </div>
        </div>
    {% else %}
        {# todo - do #}
        <p>plz login</p>
    {% endif %}
{% endblock %}
