{% extends 'UserAccount/index.html.twig' %}
{% set title = 'Lists' %}
{% set accountpage = 'lists' %}

{% block account %}
<h5>Lists</h5>

<div class="account-panel">
    {% for list in auth.user.lists %}
        <div class="lists">
            <h3>Items: {{ list.items|length }} - <a href="{{ path('lists_view', { list: list.id }) }}">{{ list.name }}</a></h3>
            <ul>
                {% for itemId in list.items %}
                    {% set item = game().item(itemId) %}
                    <li>
                        <img src="{{ item.ID|icon2x }}">
                        {% if item.LevelItem > 1 %}<em class="ilv">{{ item.LevelItem }}</em>{% endif %}
                        <a href="{{ path('item_page', { itemId: itemId }) }}" class="rarity-{{ item.Rarity }}">{{ item.Name }}</a>
                        <small>
                            {{ item.ItemKind.Name }} -
                            {{ item.ItemSearchCategory.Name }}
                        </small>
                    </li>
                {% endfor %}
            </ul>
            {% if not list.custom %}
                <div class="delete-list-block">
                    <a href="{{ path('list_delete', { list: list.id }) }}" class="text-red fr">Delete List</a>
                </div>
            {% endif %}
        </div>
    {% else %}
        <div>
            You have no lists, visit some items and create some!
        </div>
    {% endfor %}
</div>
{% endblock %}
