{% extends 'UserAccount/index.html.twig' %}
{% set title = 'Retainers' %}
{% set accountpage = 'retainers' %}

{% block account %}
<script>var appEnableRetainers = 1;</script>
<div class="retainers">
    <h1>Retainers</h1>

    <p>
        Adding your retainers allows you to have a pretty url and easy access to your retainers current sales history
    </p>

    <div class="alert-dark">
        <strong class="text-red">Important - Please Read</strong>
        <br>
        The Companion App does not provide a unique-id for your retainer, instead MogBoard creates one based
        on the retainers name and server. <strong>If you rename your retainer or move server it will be
        like you obtained a brand new retainer</strong>. This means it will not be linked to your account
        and you will have to re-verify. You will also loose all tracked item sales/current prices.
        <br><br>
        Please note, at this time you cannot add/verify Retainers on the Japan Data-Center servers.
    </div>

    <div class="alert-dark">
        <strong class="text-red">Features coming soon:</strong>
        <br>
        Soon you'll get tons of graph and report information on your retainer. In addition you'll be able to
        have dynamic alerts that use your retainer, for example: Automatic creation of alerts based on what your
        retainer is selling and updating alert conditions (Price per unit) when you change it in-game.
    </div>

    <div class="account-panel">
        {% for retainer in auth.user.retainers %}
            <div class="flex">
                <div class="flex_10">
                    <img src="/i/game/coin2.png" class="retainer_coin {{ retainer.confirmed ? '' : 'unconfirmed' }}">
                </div>
                <div class="flex_90">
                    <h4 class="ret_name">{{ retainer ? retainer.name : '' }}</h4>

                    {# Status #}
                    {% if retainer.confirmed %}<span class="ret_verified"><i class="xiv-ChatReadOk"></i> Verified</span>{% endif %}
                    {% if retainer.apiRetainerId %}<span class="ret_verified"><i class="xiv-ChatReadOk"></i> XIVAPI Linked</span>{% endif %}

                    <a href="{{ path('retainers_delete', { retainer: retainer.id }) }}" class="retainer_remove">REMOVE</a>
                    <small class="fr">Updated: {{ retainer.updated|date }}</small>

                    {% if retainer.confirmed %}
                        <br><br>
                        <ul>
                            <li>
                                <h6><a href="{{ path('retainer_shop', { retainerId: retainer.id }) }}">View Retainer Shop</a></h6>
                                Retainers on MogBoard get their own store which you can personalise!
                                <br><br>
                        </ul>
                    {% else %}
                    {% set item = game().item(retainer.confirmItem) %}
                    <div class="retainer_verify">
                        <strong class="text-highlight">VERIFICATION</strong>
                        <p class="retainer_instructions">
                            Place 1x <span class="text-green">{{ item.Name }}</span>
                            for:
                            <input type="text" class="retainer-gilcheck" value="{{ retainer.confirmPrice }}" readonly>
                            <span class="text-highlight">Gil</span>
                        </p>
                        <p>
                            Once your item is on the market board, please allow 5 minutes for the Game Servers
                            to synchronise with the Companion API. You can attempt to confirm ownership every
                            5 minutes. Retainers cannot be confirmed during in-game maintenance.
                        </p>
                        <br>

                        {% if retainer.isRecent %}
                        <div class="alert-blue">
                            You can confirm ownership in: {{ retainer.nextOwnershipAttempt|date }}
                        </div>
                        {% else %}
                            <button class="retainer_confirm" data-id="{{ retainer.id }}">Confirm Ownership</button>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
        {% else %}
            <div class="account-none">
                You have no retainers, why not add one below!
            </div>
        {% endfor %}
    </div>

    <br>

    <div class="account-panel">
        <div>
            <strong class="text-purple">ADD RETAINER</strong>
            <br><br>
            <div class="form retainer_form">
                <div class="form_row form_columns flex">
                    <div class="flex_50">
                        <label for="retainer_string">Name</label>
                        <input type="text" class="full" name="retainer_string" id="retainer_string" placeholder="">
                    </div>
                    <div class="flex_40">
                        <label for="retainer_server">Server</label>
                        <select class="full" name="retainer_server" id="retainer_server">
                            {% for dc, servers in getGameDataCenters() %}
                                <optgroup label="{{ dc }}">
                                    {% for server in servers %}
                                        <option value="{{ server }}" {{ server == getServer() ? 'selected' : '' }}>{{ server }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form_row form_columns flex">
                    <div class="flex_50 form">
                        <label for="retainer_server">Item you will list on the market board</label>
                        <input type="text" placeholder="Type in the item name" class="retainer_item_search full">
                        <input type="hidden" name="retainer_item" id="retainer_item">
                        <div class="retainer_item_search_response"></div>
                    </div>
                    <div class="flex_50">
                        <label>&nbsp;</label>
                        <button type="button" disabled="disabled" class="btn-blue retainer_add">Add</button>
                    </div>
                </div>
                <div class="retainer_add_response"></div>
            </div>
        </div>
        <div>
            <strong class="text-purple">HOW DOES IT WORK?</strong>
            <div class="retainer_how_does_it_work">
                <p>
                    To add and confirm your retainer on MogBoard, you first must find an item
                    you can place on the market for a specific price. This item must be one
                    that does not sell often and has a stock-count below 50. This is due to
                    limitations of the Companion API.
                    You can find some very cheap items on the vendors next to the Market Board
                    which you can purchase and use as your verification item. For example in
                    Ul'dah the NPC: <span class="text-green">Lolonu</span> sells
                    <span class="text-gray">Copper Ear Cuffs</span> for 224 Gil. This is
                    a really cheap item that is unlikely to be sold on the market board. However
                    any item of your chosen will work so long as it meets the criteria.
                </p>
                <p>
                    During the "<strong>Add Retainer</strong>" process, enter in the item name and it will
                    begin to search the database to match it against known sellable items.
                    Once found, click the item to confirm you want to use that item. The
                    site will do a quick check to make sure the item can be used.
                </p>
                <p>
                    If the item you have chosen is good, fill in the retainer name and click "<strong>Add</strong>",
                    the site will register your retainer ready for confirmation. As verifying the
                    item and prices does a real-time call to the Market Board you are restricted
                    to checking every 5 minutes. So have a cup of tea and wait, this gives
                    the game servers time to synchronise with the Companion API.
                </p>
                <p>
                    When 5 minutes have passed you can refresh the page and a "Confirm Ownership"
                    button will appear. Make sure you have placed the item on the Market Board
                    for the correct price and then click the button! The site will do a real-time
                    check. If successfully you will be all verified!
                    If however the verification fails it will timeout for 5 minutes. You can try
                    again or contact a site moderator to look into it. If a retainer is not
                    verified after 24 hours it will be removed from the site.
                </p>
                <strong class="text-green">
                    You can remove the item off the market once your retainer has been verified.
                </strong>
            </div>
        </div>
    </div>
</div>
{% endblock %}
