{% set title = title is defined ? title ~ ' - MogBoard' : 'MogBoard' %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125096878-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-125096878-2');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mogboard.com">
    <meta property="og:title" content="Mogboard">
    <meta property="og:description" content="Final Fantasy XIV: Market Board Site. Find prices, track history for any server at any time!">
    <meta property="og:image" content="http://mogboard.com/mog.png">
    <meta name="theme-color" content="#e2ec7a">

    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font/xivicons.css?v={{ siteVersion().hash }}">
    <link rel="stylesheet" href="/font/styles.css?v={{ siteVersion().hash }}">
    <link rel="stylesheet" href="/ui/ui.css?v={{ siteVersion().hash }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <header>{% include 'header.html.twig' %}</header>
    <main>{% block body %}{% endblock %}</main>
    <footer>{% include 'footer.html.twig' %}</footer>

    {# Modal Modal #}
    {% include 'Modals/settings.html.twig' %}
    {% include 'Modals/search.html.twig' %}
    {% include 'Modals/market_board.html.twig' %}
    {% include 'Modals/market_category.html.twig' %}
    {% include 'Modals/base.html.twig' %}

    {# JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.1.3/stupidtable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.4.1/tippy.all.min.js"></script>
    <script>
        let mog = {
            xivapi_key: "{{ env('XIVAPI_PUBLIC_KEY') }}",
            url_item_category_list: "{{ path('item_category_list', { categoryId: '-id-' }) }}",
            url_item: "{{ path('item_page', { itemId: '-id-' }) }}",
            url_item_refresh: "{{ path('item_refresh', { itemId: '-id-' }) }}",
            url_create_alert: "{{ path('create_alert') }}",
            url_get_alerts: "{{ path('alert_get', { itemId: '-id-' }) }}",
            url_lists_create: "{{ path('lists_create') }}",
            url_lists_add_item: "{{ path('lists_add_item', { listId: '-id-' }) }}",
            url_lists_favourite: "{{ path('lists_favourite') }}",
        };
        tippy('[data-tippy-content]', {
            arrow: true,
        });
    </script>
    <script src="/ui/app.js?v={{ siteVersion().hash }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
