{% set title = title is defined ? title ~ ' - Universalis' : 'Universalis' %}
{% set description = description is defined ? description ~ ' - Universalis' : 'Final Fantasy XIV Online: Market Board aggregator. Find Prices, track Item History and create Price Alerts. Anywhere, anytime.' %}
<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125096878-11"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-125096878-11');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mogboard.com">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:image" content="http://mogboard.com/mog_square.png">
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="FFXIV,Market,Boards,Database">
    <meta name="google-site-verification" content="lYmV3T5sDcKUybfvz8CyOZwS6GQPI4l5sM0Fu4qopVA">
    <meta name="theme-color" content="#e2ec7a">
    {% if env('APP_ENV') == 'dev' %}<meta name="robots" content="noindex">{% endif %}

    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/font/xivicons.css?v={{ siteVersion().hash }}">
    <link rel="stylesheet" href="/font/styles.css?v={{ siteVersion().hash }}">
    <link rel="stylesheet" href="/ui/ui.css?v={{ siteVersion().hash }}">
    {% block stylesheets %}{% endblock %}

    {# High Charts #}
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="/theme/highchart.js?v={{ siteVersion().hash }}"></script>

    {# Stuffs #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stupidtable/1.1.3/stupidtable.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/2.6.1/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tippy.js/3.4.1/tippy.all.min.js"></script>
</head>
<body>
    <div class="site-container">
        {% if cookie('mogboard_leftnav', 'off') == 'on' %}
        <aside>
            <div data-simplebar>
                {% include 'nav.html.twig' %}
            </div>
        </aside>
        {% endif %}
        <div class="site left-nav-{{ cookie('mogboard_leftnav', 'off') }}">
            <header>{% include 'header.html.twig' %}</header>
            <nav class="site-menu">{% include 'menu.html.twig' %}</nav>
            <div class="market-category-view">
                <div data-simplebar class="item-category-list2" id="item-category-list2"></div>
            </div>

            <main>{% block body %}{% endblock %}</main>

            <footer>{% include 'footer.html.twig' %}</footer>


            {% include 'Modals/search.html.twig' %}
            {% include 'Modals/market_board.html.twig' %}
            {% include 'Modals/market_category.html.twig' %}
        </div>
    </div>

    {# Modal Modal #}
    {% include 'Modals/settings.html.twig' %}
    {% include 'Modals/base.html.twig' %}

    {# JS #}
    <script>
        var mog = {
            path: "{{ app.request.getPathInfo()|split('/')[1] }}",
            isOnline: {{ auth.isOnline ? 'true' : 'false' }},
            url_item: "{{ path('item_page', { itemId: '-id-' }) }}",
            urls: {
                account: {
                    check_patreon: "{{ path('user_account_confirm_patreon') }}"
                },
                alerts: {
                    create: "{{ path('alerts_create') }}",
                    update: "{{ path('alerts_update', { alert: '-id-' }) }}",
                    delete: "{{ path('alerts_delete', { alert: '-id-'}) }}",
                    edit: "{{ path('alerts_edit', { alert: '-id-' }) }}",
                    renderForItem: "{{ path('alerts_render_item', { itemId: '-id-'}) }}",
                },
                lists: {
                    favourite: "{{ path('lists_favourite') }}",
                    render: "{{ path('lists_render') }}",
                    create: "{{ path('lists_create') }}",
                    rename: "{{ path('list_rename', { list: '-id-' }) }}",
                    addItem: "{{ path('lists_add_item', { list: '-id-' }) }}",
                    removeItem: "{{ path('lists_remove_item', { list: '-id-' }) }}",
                },
                characters: {
                    add: "{{ path('characters_add', { lodestoneId: '-id-' }) }}"
                },
                retainers: {
                    add: "{{ path('retainers_add') }}",
                    confirm: "{{ path('retainers_confirm', { retainer: '-id-' }) }}"
                },
                items: {
                    update: "{{ path('item_update', { itemId: '-id-' }) }}"
                }
            },
        };
        // tooltips
        tippy('[data-tippy-content]', {
            arrow: true,
        });
        // sortable tables
        $(".table-sortable").stupidtable();
        // search categories
        var cats = {{ cache('mog_ItemSearchCategoriesFull')|json_encode|raw }};
    </script>
    <script src="/ui/app.js?v={{ siteVersion().hash }}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>
